@{
    Layout = null;
    string sysTitle = ToolsLib.Utility.WebUtils.GetSettingsValue("SystemTitle");
}
<!DOCTYPE html>
<html>
<head>
    <title>GRGTest @Html.Raw(sysTitle)</title>
</head>

	<frameset rows="121,*,32" cols="*" frameborder="0" framespacing="0">
  <frame src="/Login/TopMenu" frameborder="0" framespacing="0" noresize="noresize" scrolling="no" />
  <frameset cols="11,*,11" frameborder="0" framespacing="0">
  	<frame src="/FrameLayout/Frame_vborder.html" frameborder="0" framespacing="0" scrolling="no" id="leftBorder" />
  	<frame src="/Login/LoginUser" frameborder="0" framespacing="0" scrolling="auto" id="MiddleFrame" name="MiddleFrame" />
    <frame src="/FrameLayout/Frame_vborder.html" frameborder="0" framespacing="0" scrolling="no" id="rightBorder" />
  </frameset>
  <frame src="/FrameLayout/Frame_Bottom.html" frameborder="0" framespacing="0" noresize="noresize" scrolling="no" />
</frameset>
</html>
