<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!--SqlServer-->
  <add key="dbDate" value="getdate()" />
  <add key="selectKey" value="select @@IDENTITY as value" />
  
   <!--<add key="InstrumentDB_ConnectionString" value="Data Source=172.18.0.40;Initial Catalog=GRGT_InstrumentManager;User ID=instrument;Password=wRd%LjLZU58u0n*S;Persist Security Info=True;" />
	<add key="CommonDB_ConnectionString" value="Data Source=172.18.0.40;Initial Catalog=GRGT_Common;User ID=common;Password=ein5tkp80sn1ve7v;Persist Security Info=True;" />
  <add key="sqlserver" value="sqlServer2.0" />-->
  <!--SQL Server-->
	<add key="CommonDB_ConnectionString" value="Data Source=172.18.0.50;Initial Catalog=GRGT_Common;User ID=sa;Password=sasa;Persist Security Info=True;" />
  <add key="InstrumentDB_ConnectionString" value="Data Source=172.18.0.50;Initial Catalog=InstrumentManager;User ID=sa;Password=sasa;Persist Security Info=True;" />
  <!--<add key="InstrumentDB_ConnectionString" value="Data Source=#ServerName#;Initial Catalog=GrgtInstrument;User ID=#UserId#;Password=#Pwd#;Persist Security Info=True;" />-->
  <!--<add key="InstrumentDB_ConnectionString" value="Data Source=服务器名;Initial Catalog=GrgtInstrument;Integrated Security=True;"/>-->
	<add key="sqlserver" value="sqlServer2.0" />
  <!--MySql-->
  <!--<add key="InstrumentDB_ConnectionString" value="DataSource=localhost;Uid=root;Pwd=123456;DATABASE=Instrumentmanager;port=3306;pooling=false;CharSet=utf8" />
  <add key="sqlserver" value="MySql" />-->
</settings>