<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!--SQLite-->
  <add key="dbDate" value="datetime('now', '+8 hour')" />
  <add key="selectKey" value="select last_insert_rowid() " />
  <!--SQLite-->
  <add key="InstrumentDB_ConnectionString" value="Data Source=|DataDirectory|GrgtInstrument.s3db;Version=3" />
  <add key="sqlserver" value="SQLite" />
</settings>