<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<properties resource="App_Data/properties.config" />

	<settings>
		<setting useStatementNamespaces="true"/>
		<setting cacheModelsEnabled="true" />
		<setting useReflectionOptimizer="true"/>
	</settings>

	<providers embedded="ToolsLib.IBatisNet.Config.providers.config, ToolsLib"/>

	<!-- Database connection information -->
	<database>
		<provider name="${sqlserver}"/>
		<dataSource name="commonDB" connectionString="${CommonDB_ConnectionString}" />
	</database>

	<sqlMaps>
		<!-- ==============用户访问跟踪日志 =================== -->
		<sqlMap embedded="ToolsLib.Https.HttpModules.DBLog.config, ToolsLib"/>
	</sqlMaps>

</sqlMapConfig>

