@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<frameset cols="22%, *" frameborder="no" border="0" framespacing="0">
  <frame src="@Url.Content("~/SysManage/Param/ParamTreePage")" name="leftFrame" scrolling="auto" noresize id="leftFrame" />
  <frame src="@Url.Content("~/SysManage/Param/ParamItemListPage?paramId=1")" name="mainFrame" scrolling="auto" noresize id="mainFrame" />
</frameset>
</html>
