@{
    ViewBag.Title = "内部核查查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" language="javascript">
    var param = "-1";
    var oTable;
    var tableHigth = "auto";
    var columnInfo = null;
    var queryColInfo = {};
        queryColInfo.ColNum = 1;
        queryColInfo.IsRLType = true;
    $(document).ready(function () {
        columnInfo = [
            { sName: '', sType: 'string', sTitle: '操作' },
            { sName: 'InstrumentCate', sType: 'string', sTitle: '分类' ,CustomParam: 'instrumentParam',
                searchDataSource: [
                    @Html.Raw(ViewBag.JsonInstrumentCate)
                ]},
            { sName: '', sType: 'string', sTitle: '所属部门', CustomParam: 'instrumentParam'},
            { sName: 'InstrumentName', sType: 'string', sTitle: '仪器名称', CustomParam: 'instrumentParam' },
            { sName: 'Specification', sType: 'string', sTitle: '仪器型号', CustomParam: 'instrumentParam'  },
            { sName: 'SerialNo', sType: 'string', sTitle: '出厂编号' , CustomParam: 'instrumentParam' },
            { sName: 'ManageNo', sType: 'string', sTitle: '管理编号' , CustomParam: 'instrumentParam' },
            { sName: 'CertificateNo', sType: 'string', sTitle: '证书编号' , CustomParam: 'instrumentParam' },
            { sName: 'StorePalce', sType: 'string', sTitle: '存放地点' , CustomParam: 'instrumentParam' },
            { sName: 'CheckDate', sType: 'date', sTitle: '核查日期' },
            { sName: 'PeriodDate', sType: 'date', sTitle: '有效日期'},
            { sName: 'Leader', sType: 'string', sTitle: '负责人'},
            { sName: 'CreateDate', sType: 'date', sTitle: '创建日期'},
            { sName: 'Creator', sType: 'string', sTitle: '创建人'},
            { sName: 'Result', sType: 'string', sTitle: '结论',
                searchDataSource: [
                    @Html.Raw(ViewBag.InnerCheckResult)
                ]}
        ];
    oTable = GetJsondataFromServ("tbInnerCheckList", "/Instrument/GetAllInnerCheckListJsonData", "2000px", columnInfo, queryColInfo, tableHigth, false, false, true, true);
    });
    //导出
    function fnExport(){
        var fieldCondition = oTable.fnGetAdvCondition(columnInfo);
        var url = "/Instrument/InnerCheckEditBySearchCondition?" + fieldCondition ;
        ymPrompt.confirmInfo({ message: "是否要导出当前记录?", title: '确认对话框', handler: function (tp) {
                if (tp == 'ok') {
                    window.open(url,"_blank");
                }
            }
        });
    }
    //详细
    function fnDetail(obj){
        var id=$(obj).attr("id");
        fnNewWindow("/Instrument/InstrumentInnerCheckDetail?innerCheckId="+id, "内部核查详细", "650", "365");
    }
    function fnNewWindow(url, title, width, height) {
        ymPrompt.win({ message: url, width: width, height: height, title: title, handler: null, iframe: true });
    }
</script>
<div>
    <!--Authorization operate="/Instrument/PeriodcheckEditBySearchCondition"-->
    <input id="btnExport" type="button" onclick="fnExport()" class="submit_btn" value="导 出" />&nbsp;
    <!--/Authorization-->
    <table id="tbInnerCheckList">
    </table>
</div>


