@{
    ViewBag.Title = "设备说明书列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    var oTable;
    var columnInfo;
    $(document).ready(function () {
        columnInfo = [
            { sName: '', sType: 'string', sTitle: '操作' },
            { sName: 'InstrumentName', sType: 'string', sTitle: '仪器名称',CustomParam: 'InstrumentParam'},
            { sName: 'ManageNo', sType: 'string', sTitle: '管理编号',CustomParam: 'InstrumentParam'},
            { sName: 'Specification', sType: 'string', sTitle: '仪器型号',CustomParam: 'InstrumentParam'},
            { sName: 'SerialNo', sType: 'string', sTitle: '出厂编号',CustomParam: 'InstrumentParam'},
            { sName: 'InstrumentCate', sType: 'string', sTitle: '分类',CustomParam: 'InstrumentParam',
                searchDataSource: [
                    @Html.Raw(ViewBag.JsonInstrumentCate)
                ]},
            { sName: 'BelongDepart', sType: 'string', sTitle: '所属部门',CustomParam: 'OrgName'},
            {sName:'FileName',sType:'string',sTitle:'文件名字'},
            {sName:'CreateDate',sType:'date',sTitle:'创建时间'},
            {sName:'Remark',sType:'string',sTitle:'备注'}
        ];
        var queryColInfo = {};
        queryColInfo.ColNum = 1;
        queryColInfo.IsRLType = true;
        oTable = GetJsondataFromServ("Instrument", "/Instrument/GetInstrumentManualJson", "1800px", columnInfo, queryColInfo, "auto", false, false, true, true);
        $("#searchBelongDepart").click( function (){
            fnNewWindow("/Organization/BelongOrgTree",300,450,"组织架构");
        });
    });
    function fnGetSelectOrgName(orgName){
        $("#searchBelongDepart").val(orgName);
    }
    //下载
    function fnDownFile(fileId) {

        fnAjaxDownloadFile("/SysManage/Attachment/DownLoad?fileId=" + fileId);
    }
</script>
<div>
    <table id="Instrument">
    </table>
</div>


