@using ToolsLib.Utility;
@{
    ViewBag.Title = "预警提醒";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .msg
    {
        font-family: 黑体;
        font-weight: bold;
        font-size: 14px;
    }
</style>
<script type="text/javascript" language="javascript">
    var overTimeTable;
    var warnTable;
    var oTable;
    $(document).ready(function () {
        $("#warnDayList").val("28");
        overTimeTable = WrapTables4Ajax("OverTimeInstrumentList", "/Instrument/GetOverTimeInstrumentList", "100%", true, "245px", false, 10);
        warnTable = WrapTables4Ajax("WarnInstrumentList", "/Instrument/GetWarnInstrumentList?day=" + $("#warnDayList").val(), "100%", true, "245px", false, 10);

        $("#warnDayList").change(function () {
            var warnDay = $("#warnDayList").val();
            warnTable.fnDestroy();
            WrapTables4Ajax("WarnInstrumentList", "/Instrument/GetWarnInstrumentList?day=" + warnDay, "100%", true, "245px", false, 10);
        });
        $("#btnExportOverTime").click(function () {
            var url = "/Instrument/ExportOverTimeAndWarnList?state=" + 0 + "&day=" + 0;
            ymPrompt.confirmInfo({ message: "是否要导出当前仪器?", title: '确认对话框', handler: function (tp) {
                if (tp == 'ok') {
                    window.open(url, "_blank");
                }
            }
            });
        });
        $("#btnExportWarn").click(function () {
            var url = "/Instrument/ExportOverTimeAndWarnList?state=" + 1 + "&day=" + $("#warnDayList").val();
            ymPrompt.confirmInfo({ message: "是否要导出当前仪器?", title: '确认对话框', handler: function (tp) {
                if (tp == 'ok') {
                    window.open(url, "_blank");
                }
            }
            });
        });
    });

    //全选
    function fnSetCheckbox(obj,chkName) {
        var isChecked = $(obj).is(":checked");
        fnChkAll(chkName, isChecked);
    } 

    function fnAddOverToSendList() {
        var instrumentIds = fnGetAllCheckedValue("OverChk");
        if (instrumentIds.length < 1) { ymPrompt.alert("请选择项目"); return; }
        fnConfirmWithF5WithOTable("确定把所选的仪器添加到送检清单？", "/SendInstrument/AddToPreSendList?instrumentIds=" + instrumentIds, overTimeTable);
        $("#OverChk").removeAttr("checked");
        return false;
    }
</script>
<div>
    <h3 class="form_module_title">
    超期仪器提醒
    <!--Authorization operate="/SendInstrument/AddToSendList"-->
    <input type="button" id="btnAddToSendList1" class="submit_btn8" onclick="fnAddOverToSendList()"
        value="添加到待送清单" />
    <!--/Authorization-->
    <!--Authorization operate="/Instrument/GetOverTimeInstrumentList"-->
    <input type="button" id="btnExportOverTime" class="submit_btn" value="导出EXCEL" />
    <!--/Authorization-->
    </h3>
    <table id="OverTimeInstrumentList">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="OverChk" onclick="fnSetCheckbox(this,'OverChk')" />
                </th>
                <th>
                    操作
                </th>
                <th>
                    仪器状态
                </th>
                <th>
                    仪器名称
                </th>
                <th>
                    证书编号
                </th>
                <th>
                    到期日期
                </th>
                <th>
                    仪器型号
                </th>
                <th>
                    管理编号
                </th>
                <th>
                    出厂编号
                </th>
            </tr>
        </thead>
    </table>
</div>
<div>
     <h3 class="form_module_title">
    预警仪器提醒</span>
            @Html.DropDownList("warnDayList", new SelectList(ViewBag.WarnDayList, "Value", "Text","28"),
                        new { @class = "fix_width" })
    <!--Authorization operate="/SendInstrument/AddToSendList"-->
    <input type="button" id="btnAddToSendList2" class="submit_btn8" onclick="fnAddWarnToSendList()"
        value="添加到待送清单" />
    <!--/Authorization-->
    <!--Authorization operate="/Instrument/GetOverTimeInstrumentList"-->
    <input type="button" id="btnExportWarn" class="submit_btn" value="导出EXCEL" />
    <!--/Authorization-->
    </h3>
    <table id="WarnInstrumentList">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="WarnChk" onclick="fnSetCheckbox(this,'WarnChk')" />
                </th>
                <th>
                    操作
                </th>
                <th>
                    预警天数
                </th>
                <th>
                    仪器名称
                </th>
                <th>
                    证书编号
                </th>
                <th>
                    到期日期
                </th>
                <th>
                    仪器型号
                </th>
                <th>
                    管理编号
                </th>
                <th>
                    出厂编号
                </th>
            </tr>
        </thead>
    </table>
</div>
