<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="AssetCheck_PlanDetail">
  <alias>
    <typeAlias alias="AssetCheckPlanDetailModel" type="Instrument.Common.Models.AssetCheckPlanDetailModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="AssetCheckPlanDetailModel">
      <result property="PlanDetailId" column="PlanDetailId" />
      <result property="PlanId" column="PlanId" />
      <result property="InstrumentId" column="InstrumentId" />
      <result property="Statuse" column="Statuse" />
      <result property="BelongDepart" column="BelongDepart" />
      <result property="InstrumentName" column="InstrumentName" />
      <result property="Specification" column="Specification" />
      <result property="Manufacturer" column="Manufacturer" />
      <result property="SerialNo" column="SerialNo" />
      <result property="ManageNo" column="ManageNo" />
      <result property="AssetsNo" column="AssetsNo" />
      <result property="Remark" column="Remark" />
      <result property="CreateUser" column="CreateUser" />
      <result property="CreateDate" column="CreateDate" />
      <result property="BarCode" column="BarCode" />
      <result property="Checkor" column="Checkor" />
      <result property="CheckDate" column="CheckDate" />
      <result property="IsRightAddress" column="IsRightAddress" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      AssetCheck_PlanDetail.PlanDetailId
      ,AssetCheck_PlanDetail.PlanId
      ,AssetCheck_PlanDetail.InstrumentId
      ,AssetCheck_PlanDetail.Statuse
      ,AssetCheck_PlanDetail.BelongDepart
      ,AssetCheck_PlanDetail.InstrumentName
      ,AssetCheck_PlanDetail.Specification
      ,AssetCheck_PlanDetail.Manufacturer
      ,AssetCheck_PlanDetail.SerialNo
      ,AssetCheck_PlanDetail.ManageNo
      ,AssetCheck_PlanDetail.AssetsNo
      ,AssetCheck_PlanDetail.Remark
      ,AssetCheck_PlanDetail.CreateUser
      ,AssetCheck_PlanDetail.CreateDate
      ,AssetCheck_PlanDetail.BarCode
      ,AssetCheck_PlanDetail.Checkor
      ,AssetCheck_PlanDetail.CheckDate
      ,AssetCheck_PlanDetail.IsRightAddress
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from AssetCheck_PlanDetail</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where PlanDetailId = #value#
    </select>
    <select id="GetByInstrumentId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where InstrumentId = #value#
    </select>
    <select id="GetCheckingPlanDetailByBarCode" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      Where BarCode = #value# And PlanId In (Select PlanId From AssetCheck_Plan
      Where  <![CDATA[EndDate > ${dbDate}  and StartDate < ${dbDate}]]>)
    </select>
    <select id="IsExistPlanDetail" resultClass="int"  parameterClass="Hashtable">
      select COUNT(1) from AssetCheck_PlanDetail where PlanId in (
      select PlanId from AssetCheck_Operator where UserId=#UserId#)
      and BarCode=#BarCode#
    </select>
    
    <select id="GetByInstrumentIdAndPlanId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="Hashtable">
      where InstrumentId = #InstrumentId# and PlanId=#PlanId#
    </select>
    <select id="GetByPlanIdAndStatus" resultMap="SelectAllResult" extends="SelectAll" parameterClass="Hashtable">
      where PlanId = #PlanId# and Statuse=#Statuse#
    </select>
    <select id="GetByPlanId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where PlanId = #value#
    </select>
    <select id="GetByWhere" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      where $value$
    </select>
    
    <insert id="Insert" parameterClass="AssetCheckPlanDetailModel">
      <selectKey property="PlanDetailId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into AssetCheck_PlanDetail(PlanId,InstrumentId,Statuse,BelongDepart,InstrumentName,Specification,Manufacturer,SerialNo,ManageNo,AssetsNo,Remark,CreateUser,CreateDate,BarCode)
      values (#PlanId#,#InstrumentId#,#Statuse#,#BelongDepart#,#InstrumentName#,#Specification#,#Manufacturer#,#SerialNo#,#ManageNo#,#AssetsNo#,#Remark#,#CreateUser#,${dbDate},#BarCode#)
    </insert>
    <insert id="BatchImportFromInstrument" parameterClass="Hashtable">
      insert into AssetCheck_PlanDetail(PlanId,InstrumentId,InstrumentName,BelongDepart,Specification,Manufacturer ,SerialNo,ManageNo,AssetsNo,CreateUser, CreateDate,BarCode)
      select #PlanId# ,InstrumentId,InstrumentName,BelongDepart,Specification,Manufacturer ,SerialNo,ManageNo,AssetsNo,#CreateUser#,${dbDate}, BarCode from Instrument_BaseInfo
      where InstrumentForm=#InstrumentForm# and InstrumentId not in (select InstrumentId from AssetCheck_PlanDetail where PlanId=#PlanId# )
    </insert>
    <update id="Update" parameterClass="AssetCheckPlanDetailModel">
      Update AssetCheck_PlanDetail Set
      PlanId=#PlanId#,
      InstrumentId=#InstrumentId#,
      Statuse=#Statuse#,
      BelongDepart=#BelongDepart#,
      InstrumentName=#InstrumentName#,
      Specification=#Specification#,
      Manufacturer=#Manufacturer#,
      SerialNo=#SerialNo#,
      ManageNo=#ManageNo#,
      AssetsNo=#AssetsNo#,
      Remark=#Remark#
      where PlanDetailId = #PlanDetailId#
    </update>
    <update id="UpdateState" parameterClass="Hashtable">
      Update AssetCheck_PlanDetail Set
      Statuse=#Statuse#
      where   BarCode=#BarCode# and PlanId in (
      select A.PlanId from AssetCheck_Operator A
      left join
      AssetCheck_Plan B on A.PlanId=B.PlanId
      where UserId=#UserId# and(
      <![CDATA[B.StartDate<=#StartDate# or B.EndDate >=#StartDate# ]]>
          )
        )
      </update>

    <update id="AssetCheck" parameterClass="Hashtable">
      Update AssetCheck_PlanDetail Set
      Statuse=#Statuse#,
      Checkor=#Checkor#,
      CheckDate=${dbDate}
      Where PlanDetailId=#PlanDetailId#
    </update>
    <update id="AssetIsRightAddressAndRemark" parameterClass="Hashtable">
      Update AssetCheck_PlanDetail Set
      IsRightAddress=#IsRightAddress#,
      Remark=#Remark#
      Where PlanDetailId=#PlanDetailId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from AssetCheck_PlanDetail where PlanDetailId = #value#
    </delete>
    <delete id="DeleteByPlanId" parameterClass="int">
      delete from AssetCheck_PlanDetail where PlanId = #value#
    </delete>
    <delete id="DeleteByIdList" parameterClass="Hashtable">
      delete from AssetCheck_PlanDetail where PlanDetailId in
      <iterate property="DetailIdList" open="(" close=")" conjunction=",">
        #DetailIdList[]#
      </iterate>
    </delete>
  </statements>
</sqlMap>