<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="AssetCheck_Plan">
  <alias>
    <typeAlias alias="AssetCheckPlanModel" type="Instrument.Common.Models.AssetCheckPlanModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="AssetCheckPlanModel">
      <result property="PlanId" column="PlanId" />
      <result property="PlanType" column="PlanType" />
      <result property="PlanName" column="PlanName" />
      <result property="StartDate" column="StartDate" />
      <result property="EndDate" column="EndDate" />
      <result property="Remark" column="Remark" />
      <result property="CreateUser" column="CreateUser" />
      <result property="CreateDate" column="CreateDate" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      AssetCheck_Plan.PlanId
      ,AssetCheck_Plan.PlanType
      ,AssetCheck_Plan.PlanName
      ,AssetCheck_Plan.StartDate
      ,AssetCheck_Plan.EndDate
      ,AssetCheck_Plan.Remark
      ,AssetCheck_Plan.CreateUser
      ,AssetCheck_Plan.CreateDate
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from AssetCheck_Plan</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where PlanId = #value#
    </select>
    <select id="GetByUserId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where PlanId in   (select PlanId from AssetCheck_Operator where UserId=#value#)
       <![CDATA[and EndDate > ${dbDate}  and StartDate < ${dbDate}]]>
    </select>
    <select id="GetCheckingPlan" resultMap="SelectAllResult" extends="SelectAll">
      where EndDate > ${dbDate}
    </select>
    <insert id="Insert" parameterClass="AssetCheckPlanModel">
      <selectKey property="PlanId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into AssetCheck_Plan(PlanType,PlanName,StartDate,EndDate,Remark,CreateUser,CreateDate)
      values (#PlanType#,#PlanName#,#StartDate#,#EndDate#,#Remark#,#CreateUser#,${dbDate})
    </insert>
    <update id="Update" parameterClass="AssetCheckPlanModel">
      Update AssetCheck_Plan Set
      PlanType=#PlanType#,
      PlanName=#PlanName#,
      StartDate=#StartDate#,
      EndDate=#EndDate#,
      Remark=#Remark#
      where PlanId = #PlanId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from AssetCheck_Plan where PlanId = #value#
    </delete>
  </statements>
</sqlMap>