<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="AssetCheck_Operator">
  <alias>
    <typeAlias alias="AssetCheckOperatorModel" type="Instrument.Common.Models.AssetCheckOperatorModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="AssetCheckOperatorModel">
      <result property="AutoId" column="AutoId" />
      <result property="PlanId" column="PlanId" />
      <result property="UserId" column="UserId" />
      <result property="Creator" column="Creator" />
      <result property="CreatDate" column="CreatDate" />
      <result property="UserName" column="UserName" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      AssetCheck_Operator.AutoId
      ,AssetCheck_Operator.PlanId
      ,AssetCheck_Operator.UserId
      ,AssetCheck_Operator.Creator
      ,AssetCheck_Operator.CreatDate
      ,AssetCheck_Operator.UserName
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from AssetCheck_Operator</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where AutoId = #value#
    </select>
    <select id="GetByPlanId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where PlanId = #value#
    </select>
    <select id="GetByPlanIdAndUserId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where PlanId = #PlanId# and UserId=#UserId#
    </select>
    <select id="GetByUserId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where UserId = #value#
    </select>
    <insert id="Insert" parameterClass="AssetCheckOperatorModel">
      <selectKey property="AutoId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into AssetCheck_Operator(PlanId,UserId,Creator,CreatDate,UserName)
      values (#PlanId#,#UserId#,#Creator#,${dbDate},#UserName#)
    </insert>
    <update id="Update" parameterClass="AssetCheckOperatorModel">
      Update AssetCheck_Operator Set
      PlanId=#PlanId#,
      UserId=#UserId#,
      UserName=#UserName#
      where AutoId = #AutoId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from AssetCheck_Operator where AutoId = #value#
    </delete>
    <delete id="DeleteByPlanId" parameterClass="int">
      delete from AssetCheck_Operator where PlanId = #value#
    </delete>
    <delete id="DeleteByIdList" parameterClass="Hashtable">
      delete from AssetCheck_Operator where AutoId in
      <iterate property="AutoIdList" open="(" close=")" conjunction=",">
        #AutoIdList[]#
      </iterate>
    </delete>
    
  </statements>
</sqlMap>