<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="BaseData_InstrumentUsingPlan">
  <alias>
    <typeAlias alias="InstrumentUsingPlanModel" type="Instrument.Common.Models.InstrumentUsingPlanModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="InstrumentUsingPlanModel">
      <result property="PlanId" column="PlanId" />
      <result property="InstrumentId" column="InstrumentId" />
      <result property="Order_ProjectCode" column="Order_ProjectCode" />
      <result property="EngineerName" column="EngineerName" />
      <result property="StartDate" column="StartDate" />
      <result property="EndDate" column="EndDate" />
      <result property="CreateDate" column="CreateDate" />
      <result property="Creator" column="Creator" />
      <result property="Remark" column="Remark" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      PlanId,InstrumentId,Order_ProjectCode,EngineerName,StartDate,EndDate,CreateDate,Creator,Remark
    </sql>
    <select id="SelectAll"> 
      select <include refid="TableFields"/> from BaseData_InstrumentUsingPlan 
    </select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where PlanId = #value#
    </select>
    <select id="GetByInstrumentId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where InstrumentId=#value# order by PlanId desc
    </select>
    <insert id="Insert" parameterClass="InstrumentUsingPlanModel">
      <selectKey property="PlanId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into BaseData_InstrumentUsingPlan(InstrumentId,Order_ProjectCode,EngineerName,StartDate,EndDate,CreateDate,Creator,Remark)
      values (#InstrumentId#,#Order_ProjectCode#,#EngineerName#,#StartDate#,#EndDate#,${dbDate},#Creator#,#Remark#)
    </insert>
    <update id="Update" parameterClass="InstrumentUsingPlanModel">
      Update BaseData_InstrumentUsingPlan Set
      InstrumentId=#InstrumentId#,
      Order_ProjectCode=#Order_ProjectCode#,
      EngineerName=#EngineerName#,
      StartDate=#StartDate#,
      EndDate=#EndDate#,
      Remark=#Remark#
      where PlanId = #PlanId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from BaseData_InstrumentUsingPlan where PlanId = #value#
    </delete>

    <select id="GetByInstrumentIdsAndDate" resultClass="InstrumentUsingPlanModel"  parameterClass="HashTable">
      select  ep.InstrumentId,StartDate,EndDate from BaseData_InstrumentUsingPlan ep
      where 1=1
      <!--<![CDATA[ 
        and #ExperimentPlanDate#<ep.StartDate and ep.StartDate< DATEADD(DAY,1,#ExperimentPlanDate#)
        or 
        #ExperimentPlanDate#<EndDate and EndDate<DATEADD(DAY,1,#ExperimentPlanDate#) 
        ]]>-->
      <isNotNull prepend="AND" property="ExperimentPlanDate" >
        #ExperimentPlanDate# between CONVERT(varchar(100), ep.StartDate, 23) and CONVERT(varchar(100), ep.EndDate, 23)
      </isNotNull>
      and  InstrumentId in 
      <iterate property="InstrumentIdList" open="(" close=")" conjunction=",">
           #InstrumentIdList[]#
      </iterate>
    </select>
    
    <select id="GetByProjectNumber" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      where Order_ProjectCode=#value# order by PlanId desc
    </select>
  </statements>
</sqlMap>