<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Business_Attachment">
  <alias>
    <typeAlias alias="BusinessAttachmentModel" type="Instrument.Common.Models.BusinessAttachmentModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="BusinessAttachmentModel">
      <result property="Id" column="Id" />
      <result property="BusinessType" column="BusinessType" />
      <result property="BusinessKeyId" column="BusinessKeyId" />
      <result property="FileId" column="FileId" />
      <result property="FileName" column="FileName" />
      <result property="UserName" column="UserName" />
      <result property="CreateDate" column="CreateDate" />
      <result property="Remark" column="Remark" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Business_Attachment.Id
      ,Business_Attachment.BusinessType
      ,Business_Attachment.BusinessKeyId
      ,Business_Attachment.FileId
      ,Business_Attachment.FileName
      ,Business_Attachment.UserName
      ,Business_Attachment.CreateDate
      ,Business_Attachment.Remark
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from Business_Attachment</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where Id = #value#
    </select>
    <select id="GetByBusinessId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="Hashtable">
      where BusinessKeyId=#BusinessKeyId# and BusinessType in ($BusinessType$)
    </select>

    <select id="GetByBusinesId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="Hashtable">
      where BusinessKeyId=#BusinessKeyId# and BusinessType in ($BusinessType$)
    </select>
    <!--获取申请受控,未审核列表-->
    <select id="GetVerifyList" resultMap="SelectAllResult" extends="SelectAll">
      where ApplyControlled=1 and ControlledState=0
    </select>
    
    <select id="GetByBusinessTypeAndId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="Hashtable">
      where BusinessType = #BusinessType# And BusinessKeyId=#BusinessId#
    </select>
    <insert id="Insert" parameterClass="BusinessAttachmentModel">
      <selectKey property="Id" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Business_Attachment(BusinessType,BusinessKeyId,FileId,FileName,UserName,CreateDate,Remark)
      values (#BusinessType#,#BusinessKeyId#,#FileId#,#FileName#,#UserName#,${dbDate},#Remark#)
    </insert>
    <update id="Update" parameterClass="BusinessAttachmentModel">
      Update Business_Attachment Set
      BusinessType=#BusinessType#,
      BusinessKeyId=#BusinessKeyId#,
      FileId=#FileId#,
      FileName=#FileName#,
      UserName=#UserName#,
      Remark=#Remark#
      where Id = #Id#
    </update>
    <!-- 更新备注-->
    <update id="UpdateRemark" parameterClass="BusinessAttachmentModel">
      Update Business_Attachment Set
      Remark=#Remark#
      where Id = #Id#
    </update>
    <!-- 更新已申请受控-->
    <update id="UpdateApplyControlled" parameterClass="int">
      Update Business_Attachment Set
      ApplyControlled=1
      where Id = #value#
    </update>
    <!-- 更新受控状态-->
    <update id="UpdateControlledState" parameterClass="Hashtable">
      Update Business_Attachment Set
      ControlledState=#ControlledState#
      where Id = #Id#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Business_Attachment where Id = #value#
    </delete>
    <!-- 批量删除-->
    <delete id="DeleteByIds" parameterClass="Hashtable">
      delete from Business_Attachment  where Id in
      <iterate open="(" close=")" conjunction="," property="Id">
        #Id[]#
      </iterate>
    </delete>
  </statements>
</sqlMap>