<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Company_BaseInfo">
  <alias>
    <typeAlias alias="CompanyModel" type="Instrument.Common.Models.CompanyModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="CompanyModel">
      <result property="CompanyId" column="CompanyId" />
      <result property="CompanyName" column="CompanyName" />
      <result property="CompanyCode" column="CompanyCode" />
      <result property="AreaType" column="AreaType" />
      <result property="Leader" column="Leader" />
      <result property="Address" column="Address" />
      <result property="Email" column="Email" />
      <result property="Telephone" column="Telephone" />
      <result property="Fax" column="Fax" />
      <result property="Remark" column="Remark" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Company_BaseInfo.CompanyId
      ,Company_BaseInfo.CompanyName
      ,Company_BaseInfo.CompanyCode
      ,Company_BaseInfo.AreaType
      ,Company_BaseInfo.Leader
      ,Company_BaseInfo.Address
      ,Company_BaseInfo.Email
      ,Company_BaseInfo.Telephone
      ,Company_BaseInfo.Fax
      ,Company_BaseInfo.Remark
    </sql>
    <select id="SelectAll">
      select <include refid="TableFields"/> from Company_BaseInfo
    </select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where CompanyId = #value#
    </select>
    <insert id="Insert" parameterClass="CompanyModel">
      <selectKey property="CompanyId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Company_BaseInfo(CompanyName,CompanyCode,AreaType,Leader,Address,Email,Telephone,Fax,Remark)
      values (#CompanyName#,#CompanyCode#,#AreaType#,#Leader#,#Address#,#Email#,#Telephone#,#Fax#,#Remark#)
    </insert>
    <update id="Update" parameterClass="CompanyModel">
      Update Company_BaseInfo Set
      <!--CompanyName=#CompanyName#,-->
      CompanyCode=#CompanyCode#
      <!--AreaType=#AreaType#,
      Leader=#Leader#,
      Address=#Address#,
      Email=#Email#,
      Telephone=#Telephone#,
      Fax=#Fax#,
      Remark=#Remark#-->
      where CompanyId = #CompanyId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Company_BaseInfo where CompanyId = #value#
    </delete>
  </statements>
</sqlMap>