<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Contact">
  <alias>
    <typeAlias alias="ContactModel" type="Instrument.Common.Models.ContactModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="ContactModel">
      <result property="ContactId" column="ContactId" />
      <result property="CompanyName" column="CompanyName" />
      <result property="CaseType" column="CaseType" />
      <result property="Abstract" column="Abstract" />
      <result property="State" column="State" />
      <result property="ContactContent" column="ContactContent" />
      <result property="FeedbackContent" column="FeedbackContent" />
      <result property="FeedbackDate" column="FeedbackDate" />
      <result property="CreatId" column="CreatId" />
      <result property="Creator" column="Creator" />
      <result property="CreatDate" column="CreatDate" />
      <result property="ItemCode" column="ItemCode" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Contact.ContactId
      ,Contact.CompanyName
      ,Contact.CaseType
      ,Contact.Abstract
      ,Contact.State
      ,Contact.ContactContent
      ,Contact.FeedbackContent
      ,Contact.FeedbackDate
      ,Contact.CreatId
      ,Contact.Creator
      ,Contact.CreatDate
      ,Contact.ItemCode
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from Contact</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where ContactId = #value#
    </select>
    <insert id="Insert" parameterClass="ContactModel">
      <selectKey property="ContactId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Contact(CompanyName,CaseType,Abstract,State,ContactContent,FeedbackContent,FeedbackDate,CreatId,Creator,CreatDate,ItemCode)
      values (#CompanyName#,#CaseType#,#Abstract#,#State#,#ContactContent#,#FeedbackContent#,#FeedbackDate#,#CreatId#,#Creator#,${dbDate},#ItemCode#)
    </insert>
    <update id="Update" parameterClass="ContactModel">
      Update Contact Set
      CompanyName=#CompanyName#,
      CaseType=#CaseType#,
      Abstract=#Abstract#,
      State=#State#,
      ContactContent=#ContactContent#,
      FeedbackContent=#FeedbackContent#,
      FeedbackDate=#FeedbackDate#
      where ContactId = #ContactId#
    </update>
    <update id="UpdateState" parameterClass="ContactModel">
      Update Contact Set
      State=#State#
      where ContactId = #ContactId#
    </update>
    <update id="UpdateFeedback" parameterClass="ContactModel">
      Update Contact Set
      FeedbackContent=#FeedbackContent#,
      FeedbackDate=#FeedbackDate#,
      State=#State#
      where ContactId = #ContactId#
    </update>
    
    <delete id="DeleteById" parameterClass="int">
      delete from Contact where ContactId = #value#
    </delete>
  </statements>
</sqlMap>