<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Craft_BaseInfo">
  <alias>
    <typeAlias alias="CraftModel" type="Instrument.Common.Models.CraftModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="CraftModel">
      <result property="CraftId" column="CraftId" />
      <result property="CraftCode" column="CraftCode" />
      <result property="CraftName" column="CraftName" />
      <result property="InstrumentNo" column="InstrumentNo" />
      <result property="UsePlace" column="UsePlace" />
      <result property="Required" column="Required" />
      <result property="MeasureRange" column="MeasureRange" />
      <result property="Precise" column="Precise" />
      <result property="DPI" column="DPI" />
      <result property="PermissiblError" column="PermissiblError" />
      <result property="ManageDepart" column="ManageDepart" />
      <result property="Remark" column="Remark" />
      <result property="CreateDate" column="CreateDate" />
      <result property="CreateUser" column="CreateUser" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Craft_BaseInfo.CraftId
      ,Craft_BaseInfo.CraftCode
      ,Craft_BaseInfo.CraftName
      ,Craft_BaseInfo.InstrumentNo
      ,Craft_BaseInfo.UsePlace
      ,Craft_BaseInfo.Required
      ,Craft_BaseInfo.MeasureRange
      ,Craft_BaseInfo.Precise
      ,Craft_BaseInfo.DPI
      ,Craft_BaseInfo.PermissiblError
      ,Craft_BaseInfo.ManageDepart
      ,Craft_BaseInfo.Remark
      ,Craft_BaseInfo.CreateDate
      ,Craft_BaseInfo.CreateUser
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from Craft_BaseInfo</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where CraftId = #value#
    </select>
    <insert id="Insert" parameterClass="CraftModel">
      <selectKey property="CraftId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Craft_BaseInfo(CraftCode,CraftName,InstrumentNo,UsePlace,Required,MeasureRange,Precise,DPI,PermissiblError,ManageDepart,Remark,CreateDate,CreateUser)
      values (#CraftCode#,#CraftName#,#InstrumentNo#,#UsePlace#,#Required#,#MeasureRange#,#Precise#,#DPI#,#PermissiblError#,#ManageDepart#,#Remark#,${dbDate},#CreateUser#)
    </insert>
    <update id="Update" parameterClass="CraftModel">
      Update Craft_BaseInfo Set
      CraftCode=#CraftCode#,
      CraftName=#CraftName#,
      InstrumentNo=#InstrumentNo#,
      UsePlace=#UsePlace#,
      Required=#Required#,
      MeasureRange=#MeasureRange#,
      Precise=#Precise#,
      DPI=#DPI#,
      PermissiblError=#PermissiblError#,
      ManageDepart=#ManageDepart#,
      Remark=#Remark#
      where CraftId = #CraftId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Craft_BaseInfo where CraftId = #value#
    </delete>
  </statements>
</sqlMap>