<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Document_BaseInfo">
  <alias>
    <typeAlias alias="DocumentModel" type="Instrument.Common.Models.DocumentModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="DocumentModel">
      <result property="DocumentId" column="DocumentId" />
      <result property="FileId" column="FileId" />
      <result property="FileName" column="FileName" />
      <result property="DocCategory" column="DocCategory" />
      <result property="Remark" column="Remark" />
      <result property="CreateDate" column="CreateDate" />
      <result property="Creator" column="Creator" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Document_BaseInfo.DocumentId
      ,Document_BaseInfo.FileId
      ,Document_BaseInfo.FileName
      ,Document_BaseInfo.DocCategory
      ,Document_BaseInfo.Remark
      ,Document_BaseInfo.CreateDate
      ,Document_BaseInfo.Creator
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from Document_BaseInfo</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where DocumentId = #value#
    </select>
    <select id="GetByInstrumentId" resultMap="SelectAllResult" parameterClass="int">
      select D.* from  DocumentOwnInstrument O left join  Document_BaseInfo D on O.SysDocumentId=D.DocumentId
      where O.InstrumentId = #value#
    </select>
    <select id="IsExitDocument"  resultClass="Hashtable" parameterClass="Hashtable">
      select * from DocumentOwnInstrument 
      where InstrumentId = #InstrumentId# and SysDocumentId=#DocumentId#
    </select>
    <select id="GetByDocumentId"  resultClass="Hashtable" parameterClass="Hashtable">
      select * from DocumentOwnInstrument
      where SysDocumentId=#DocumentId#
    </select>
    
    <insert id="Insert" parameterClass="DocumentModel">
      <selectKey property="DocumentId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Document_BaseInfo(FileId,FileName,DocCategory,Remark,CreateDate,Creator)
      values (#FileId#,#FileName#,#DocCategory#,#Remark#,${dbDate},#Creator#)
    </insert>
    <insert id="AddOwnDocument" parameterClass="Hashtable">
      insert into DocumentOwnInstrument(SysDocumentId, InstrumentId)
      values (#DocumentId#,#InstrumentId#)
    </insert>
    <update id="Update" parameterClass="DocumentModel">
      Update Document_BaseInfo Set
      FileId=#FileId#,
      FileName=#FileName#,
      DocCategory=#DocCategory#,
      Remark=#Remark#
      where DocumentId = #DocumentId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Document_BaseInfo where DocumentId = #value#
    </delete>
    <delete id="DeleteByInstrumentId" parameterClass="int">
      delete from DocumentOwnInstrument where InstrumentId = #value#
    </delete>
    <delete id="DeleteInstrumentOwnDocument" parameterClass="Hashtable">
      delete from DocumentOwnInstrument where SysDocumentId = #DocumentId# and InstrumentId = #InstrumentId#
    </delete>
    <delete id="DeleteInstrumentOwnDocumentByDocumentId" parameterClass="Hashtable">
      delete from DocumentOwnInstrument where SysDocumentId = #DocumentId#
    </delete>
  </statements>
</sqlMap>