<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Instrument_Periodcheck">
  <alias>
    <typeAlias alias="PeriodcheckModel" type="Instrument.Common.Models.PeriodcheckModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="PeriodcheckModel">
      <result property="PeriodcheckId" column="PeriodcheckId" />
      <result property="InstrumentId" column="InstrumentId" />
      <result property="Frequency" column="Frequency" />
      <result property="PlanDate" column="PlanDate" />
      <result property="CompleteDate" column="CompleteDate" />
      <result property="Leader" column="Leader" />
      <result property="Result" column="Result" />
      <result property="Remark" column="Remark" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Instrument_Periodcheck.PeriodcheckId
      ,Instrument_Periodcheck.InstrumentId
      ,Instrument_Periodcheck.Frequency
      ,Instrument_Periodcheck.PlanDate
      ,Instrument_Periodcheck.CompleteDate
      ,Instrument_Periodcheck.Leader
      ,Instrument_Periodcheck.Result
      ,Instrument_Periodcheck.Remark
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from Instrument_Periodcheck</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where PeriodcheckId = #value#
    </select>
    <select id="GetByInstrumentId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where InstrumentId = #value#
    </select>
    <select id="GetPeriodcheckListByWhere" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      where $value$
    </select>
    <insert id="Insert" parameterClass="PeriodcheckModel">
      <selectKey property="PeriodcheckId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Instrument_Periodcheck(InstrumentId,Frequency,PlanDate,CompleteDate,Leader,Result,Remark)
      values (#InstrumentId#,#Frequency#,#PlanDate#,#CompleteDate#,#Leader#,#Result#,#Remark#)
    </insert>
    <update id="Update" parameterClass="PeriodcheckModel">
      Update Instrument_Periodcheck Set
      InstrumentId=#InstrumentId#,
      Frequency=#Frequency#,
      PlanDate=#PlanDate#,
      CompleteDate=#CompleteDate#,
      Leader=#Leader#,
      Result=#Result#,
      Remark=#Remark#
      where PeriodcheckId = #PeriodcheckId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Instrument_Periodcheck where PeriodcheckId = #value#
    </delete>
  </statements>
</sqlMap>