<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Instrument_CheckLog">
  <alias>
    <typeAlias alias="InstrumentCheckLogModel" type="Instrument.Common.Models.InstrumentCheckLogModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="InstrumentCheckLogModel">
      <result property="CheckLogId" column="CheckLogId" />
      <result property="InstrumentId" column="InstrumentId" />
      <result property="CheckResult" column="CheckResult" />
      <result property="CheckUser" column="CheckUser" />
      <result property="CheckDate" column="CheckDate" />      
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Instrument_CheckLog.CheckLogId
      ,Instrument_CheckLog.InstrumentId
      ,Instrument_CheckLog.CheckResult
      ,Instrument_CheckLog.CheckUser
      ,Instrument_CheckLog.CheckDate      
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from Instrument_CheckLog</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where CheckLogId = #value#
    </select>
    <select id="GetByInstrumentBarCode" resultClass="Hashtable"  parameterClass="string">
      select C.*,I.InstrumentName,I.AssetsNo,I.Specification from Instrument_CheckLog C
      join Instrument_BaseInfo I on I.InstrumentId=  C.InstrumentId where I.BarCode=#value#
    </select>
    <select id="GetByInstrumentId" resultClass="Hashtable"  parameterClass="int">
      select C.*,I.InstrumentName,I.AssetsNo,I.Specification from Instrument_CheckLog C
      join Instrument_BaseInfo I on I.InstrumentId=  C.InstrumentId where I.InstrumentId=#value#
    </select>
    <insert id="Insert" parameterClass="InstrumentCheckLogModel">
      <selectKey property="CheckLogId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Instrument_CheckLog(InstrumentId,CheckResult,CheckUser,CheckDate)
      values (#InstrumentId#,#CheckResult#,#CheckUser#,#CheckDate#)
    </insert>
    <update id="Update" parameterClass="InstrumentCheckLogModel">
      Update Instrument_CheckLog Set
      InstrumentId=#InstrumentId#,
      CheckResult=#CheckResult#,
      CheckUser=#CheckUser#,
      CheckDate=#CheckDate#
      where CheckLogId = #CheckLogId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Instrument_CheckLog where CheckLogId = #value#
    </delete>
    <delete id="DeleteByInstrumentId" parameterClass="int">
      delete from Instrument_CheckLog where InstrumentId = #value#
    </delete>
  </statements>
</sqlMap>