<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Instrument_WaitSend">
  <alias>
    <typeAlias alias="InstrumentWaitSendModel" type="Instrument.Common.Models.InstrumentWaitSendModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="InstrumentWaitSendModel">
      <result property="AutoId" column="AutoId" />
      <result property="InstrumentId" column="InstrumentId" />
      <result property="UserId" column="UserId" />
      <result property="CreateDate" column="CreateDate" />
      <result property="Remark" column="Remark"/>
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Instrument_WaitSend.AutoId
      ,Instrument_WaitSend.InstrumentId
      ,Instrument_WaitSend.UserId
      ,Instrument_WaitSend.CreateDate
      ,Instrument_WaitSend.Remark
    </sql>
    <select id="SelectAll">
      select <include refid="TableFields"/> from Instrument_WaitSend
    </select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where AutoId = #value#
    </select>
    <select id="GetByAutoIdList" resultMap="SelectAllResult" extends="SelectAll"  parameterClass="Hashtable">
      where AutoId IN
      <iterate open="(" close=")" conjunction="," property="AutoIdList" >
        #AutoIdList[]#
      </iterate>
    </select>
    <select id="GetByInstrumentIdsList" resultMap="SelectAllResult" extends="SelectAll"  parameterClass="Hashtable">
      where UserId = #UserId# and InstrumentId IN
      <iterate open="(" close=")" conjunction="," property="InstrumentIds" >
        #InstrumentIds[]#
      </iterate>
    </select>

    <select id="GetInstrumentByUserId" resultClass="Hashtable"  parameterClass="int">
      select InstrumentName,Specification ,SerialNo,ManageNo ,AssetsNo,BarCode,DueEndDate,b.InstrumentId from dbo.Instrument_WaitSend w inner join
      dbo.Instrument_BaseInfo b on w.InstrumentId=b.InstrumentId
      where w.Userid= #value#
    </select>

    <select id="GetCountByInstrumentId" resultClass="int"  parameterClass="Hashtable">

      select count(1) from Instrument_WaitSend where   InstrumentId=#InstrumentId# and UserId=#UserId#
    </select>
    <insert id="Insert" parameterClass="InstrumentWaitSendModel">
      <selectKey property="AutoId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Instrument_WaitSend(InstrumentId,UserId,CreateDate)
      values (#InstrumentId#,#UserId#,${dbDate})
    </insert>
    <select id="GetByUserId" resultMap="SelectAllResult" extends="SelectAll"  parameterClass="int">
      where  UserId=#UserId#
    </select>
    <update id="Update" parameterClass="InstrumentWaitSendModel">
      Update Instrument_WaitSend Set
      InstrumentId=#InstrumentId#,
      UserId=#UserId#
      where AutoId = #AutoId#
    </update>
    <update id="UpdateRemark" parameterClass="Hashtable">
      Update Instrument_WaitSend Set Remark=#Remark# where InstrumentId in
      <iterate open="(" close=")" conjunction="," property="InstrumentIdList" >
        #InstrumentIdList[]#
      </iterate>
      and UserId=#UserId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Instrument_WaitSend where AutoId = #value#
    </delete>
    <delete id="DeleteByInstrumentId" parameterClass="int">
      delete from Instrument_WaitSend where InstrumentId = #value#
    </delete>
    <delete id="DeleteByInstrumentIdAndUserId" parameterClass="Hashtable">
      delete from Instrument_WaitSend where InstrumentId = #InstrumentId# and UserId=#UserId#
    </delete>
    <delete id="DeleteByIds" parameterClass="Hashtable">
      delete from Instrument_WaitSend where AutoId in
      <iterate open="(" close=")" conjunction="," property="AutoIdList" >
        #AutoIdList[]#
      </iterate>
    </delete>

    <delete id="DeleteByInstrumentIds" parameterClass="Hashtable">
      delete from Instrument_WaitSend where InstrumentId in
      <iterate open="(" close=")" conjunction="," property="InstrumentIdList" >
        #InstrumentIdList[]#
      </iterate>
      and UserId=#UserId#
    </delete>
  </statements>
</sqlMap>
