<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Instrument_InnerCheck">
  <alias>
    <typeAlias alias="InnerCheckModel" type="Instrument.Common.Models.InnerCheckModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="InnerCheckModel">
      <result property="InnerCheckId" column="InnerCheckId" />
      <result property="InstrumentId" column="InstrumentId" />
      <result property="CheckDate" column="CheckDate" />
      <result property="PeriodDate" column="PeriodDate" />
      <result property="Remark" column="Remark" />
      <result property="CreateDate" column="CreateDate" />
      <result property="Creator" column="Creator" />
      <result property="Leader" column="Leader" />
      <result property="Result" column="Result" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Instrument_InnerCheck.InnerCheckId
      ,Instrument_InnerCheck.InstrumentId
      ,Instrument_InnerCheck.CheckDate
      ,Instrument_InnerCheck.PeriodDate
      ,Instrument_InnerCheck.Remark
      ,Instrument_InnerCheck.CreateDate
      ,Instrument_InnerCheck.Creator
      ,Instrument_InnerCheck.Leader
      ,Instrument_InnerCheck.Result
    </sql>
    <select id="SelectAll">
      select <include refid="TableFields"/> from Instrument_InnerCheck
    </select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByInstrumentId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where InstrumentId = #value#
    </select>
    <select id="GetById" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where InnerCheckId = #value#
    </select>
    <select id="GetInnerCheckListByWhere" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      where $value$
    </select>
    <insert id="Add" parameterClass="InnerCheckModel">
      <selectKey property="InnerCheckId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Instrument_InnerCheck(InstrumentId,CheckDate,PeriodDate,Remark,CreateDate,Creator,Leader,Result)
      values (#InstrumentId#,#CheckDate#,#PeriodDate#,#Remark#,#CreateDate#,#Creator#,#Leader#,#Result#)
    </insert>

    <update id="Update" parameterClass="InnerCheckModel">
      Update Instrument_InnerCheck Set
      InstrumentId=#InstrumentId#,
      CheckDate=#CheckDate#,
      PeriodDate=#PeriodDate#,
      Remark=#Remark#,
      Leader=#Leader#,
      Result=#Result#
      where InnerCheckId = #InnerCheckId#
    </update>
    <delete id="Delete" parameterClass="int">
      delete from Instrument_InnerCheck where InnerCheckId = #value#
    </delete>

  </statements>
</sqlMap>