<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Instrument_Flow">
  <alias>
    <typeAlias alias="InstrumentFlowModel" type="Instrument.Common.Models.InstrumentFlowModel" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="InstrumentFlowModel">
      <result property="FlowId" column="FlowId" />
      <result property="InstrumentId" column="InstrumentId" />
      <result property="Flow_Type" column="Flow_Type" />
      <result property="Place" column="Place" />
      <result property="Creator" column="Creator" />
      <result property="CreateDate" column="CreateDate" />
      <result property="Reason" column="Reason" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Instrument_Flow.FlowId
      ,Instrument_Flow.InstrumentId
      ,Instrument_Flow.Flow_Type
      ,Instrument_Flow.Place
      ,Instrument_Flow.Creator
      ,Instrument_Flow.CreateDate
      ,Instrument_Flow.Reason
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from Instrument_Flow</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where FlowId = #value#
    </select>
    <select id="GetByInstrumentId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where InstrumentId = #value# order by FlowId Desc
    </select>
    <insert id="Insert" parameterClass="InstrumentFlowModel">
      <selectKey property="FlowId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Instrument_Flow(InstrumentId,Flow_Type,Place,Creator,CreateDate,Reason)
      values (#InstrumentId#,#Flow_Type#,#Place#,#Creator#,${dbDate},#Reason#)
    </insert>
    <update id="Update" parameterClass="InstrumentFlowModel">
      Update Instrument_Flow Set
      InstrumentId=#InstrumentId#,
      Flow_Type=#Flow_Type#,
      Place=#Place#,
      Reason=#Reason#
      where FlowId = #FlowId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Instrument_Flow where FlowId = #value#
    </delete>
  </statements>
</sqlMap>