<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Instrument_BaseInfo">
  <alias>
    <typeAlias alias="InstrumentModel" type="Instrument.Common.Models.InstrumentModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="InstrumentModel">
      <result property="InstrumentId" column="InstrumentId" />
      <result property="BelongDepart" column="BelongDepart" />
      <result property="StorePalce" column="StorePalce" />
      <result property="InstrumentName" column="InstrumentName" />
      <result property="EnglishName" column="EnglishName" />
      <result property="Specification" column="Specification" />
      <result property="Manufacturer" column="Manufacturer" />
      <result property="ManufactureContactor" column="ManufactureContactor" />
      <result property="SerialNo" column="SerialNo" />
      <result property="ManageNo" column="ManageNo" />
      <result property="AssetsNo" column="AssetsNo" />
      <result property="ManageLevel" column="ManageLevel" />
      <result property="InspectCycle" column="InspectCycle" />
      <result property="InspectOrg" column="InspectOrg" />
      <result property="CertificateNo" column="CertificateNo" />
      <result property="DueStartDate" column="DueStartDate" />
      <result property="DueEndDate" column="DueEndDate" />
      <result property="LeaderName" column="LeaderName" />
      <!--<result property="SpecificationCode" column="SpecificationCode" />-->
      <result property="ProjectTeam" column="ProjectTeam" />
      <result property="MeasureCharacter" column="MeasureCharacter" />
      <result property="TechniqueCharacter" column="TechniqueCharacter" />
      <result property="BuyDate" column="BuyDate" />
      <result property="InstrumentType" column="InstrumentType" />
      <result property="Price" column="Price" />
      <result property="DurableYears" column="DurableYears" />
      <result property="CraftId" column="CraftId" />
      <result property="InstrumentCate" column="InstrumentCate" />
      <result property="SubInstrumentCate" column="SubInstrumentCate" />
      <result property="InstrumentForm" column="InstrumentForm" />
      <result property="CalibrationType" column="CalibrationType" />
      <result property="VerificationType" column="VerificationType" />
      <result property="Number" column="Number" />
      <result property="BarCode" column="BarCode" />
      <result property="RecordState" column="RecordState" />
      <result property="CreateDate" column="CreateDate" />
      <result property="CreateUser" column="CreateUser" />
      <result property="LastUpdateUser" column="LastUpdateUser" />
      <result property="LastUpdateDate" column="LastUpdateDate" />
      <result property="Remark" column="Remark" />
      <result property="ItemCode" column="ItemCode" />
      <result property="LastCheckUser" column="LastCheckUser" />
      <result property="LastCheckDate" column="LastCheckDate" />
      <result property="UseDate" column="UseDate" />
      <result property="CombinedType" column="CombinedType" />
      <result property="ParentID" column="ParentID" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      InstrumentId
      ,BelongDepart
      ,StorePalce
      ,InstrumentName
      ,EnglishName
      ,Specification
      ,Manufacturer
      ,ManufactureContactor
      ,SerialNo
      ,ManageNo
      ,AssetsNo
      ,ManageLevel
      ,InspectCycle
      ,InspectOrg
      ,CertificateNo
      ,DueStartDate
      ,DueEndDate
      ,LeaderName
      <!--,SpecificationCode-->
      ,ProjectTeam
      ,MeasureCharacter
      ,TechniqueCharacter
      ,BuyDate
      ,InstrumentType
      ,Price
      ,DurableYears
      ,CraftId
      ,InstrumentCate
      ,SubInstrumentCate
      ,InstrumentForm
      ,CalibrationType
      ,VerificationType
      ,Number
      ,BarCode
      ,RecordState
      ,CreateDate
      ,CreateUser
      ,LastUpdateUser
      ,LastUpdateDate
      ,Remark
      ,ItemCode
      ,LastCheckUser
      ,LastCheckDate
      ,UseDate
      ,CombinedType
      ,ParentID

    </sql>
    <select id="SelectAll">
      select   <include refid="TableFields"/> from Instrument_BaseInfo
    </select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where InstrumentId = #value#
    </select>
    <select id="GetByBarCode" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      where BarCode = #value#
    </select>
    <select id="GetByWhere" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      <isNotEmpty>
        where $value$
      </isNotEmpty>
    </select>
    <select id="GetByCraftIdList" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where CraftId = #value#
    </select>
    <select id="GetByManageNo" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      where ManageNo = #value#
    </select>
    <select id="GetByIdList" resultMap="SelectAllResult" extends="SelectAll"  parameterClass="Hashtable">
      where InstrumentId IN
      <iterate open="(" close=")" conjunction="," property="InstrumentIdList" >
        #InstrumentIdList[]#
      </iterate>
    </select>

    <select id="GetAllInstrumentListByWhere" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      where $value$
    </select>

    <select id="GetByParentId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where ParentID=#value#
    </select>
    <!--新增仪器-->
    <insert id="InsertInstrument" parameterClass="InstrumentModel">
      <selectKey property="InstrumentId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Instrument_BaseInfo(BelongDepart,StorePalce,InstrumentName,EnglishName,Specification,Manufacturer,ManufactureContactor,SerialNo,ManageNo,AssetsNo,
      ManageLevel,InspectCycle,LeaderName,ProjectTeam,MeasureCharacter,TechniqueCharacter,BuyDate,InstrumentType,
      Price,DurableYears,InstrumentCate,SubInstrumentCate,InstrumentForm,CalibrationType,VerificationType,Number,BarCode,RecordState,CreateDate,CreateUser,Remark,
      ItemCode,LastUpdateUser,LastUpdateDate,CombinedType,ParentID)
      values (#BelongDepart#,#StorePalce#,#InstrumentName#,#EnglishName#,#Specification#,#Manufacturer#,#ManufactureContactor#,#SerialNo#,#ManageNo#,#AssetsNo#
      ,#ManageLevel#,#InspectCycle#,
      #LeaderName#,#ProjectTeam#,#MeasureCharacter#,#TechniqueCharacter#,#BuyDate#,#InstrumentType#,#Price#,#DurableYears#,#InstrumentCate#,#SubInstrumentCate#
      ,#InstrumentForm#,#CalibrationType#,#VerificationType#,#Number#,#BarCode#,#RecordState#,${dbDate},#CreateUser#,#Remark#,#ItemCode#,#LastUpdateUser#,${dbDate},#CombinedType#,#ParentID#)
    </insert>
    <!--新增资产-->
    <insert id="InsertAssets" parameterClass="InstrumentModel">
      <selectKey property="InstrumentId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Instrument_BaseInfo(BelongDepart,StorePalce,InstrumentName,Specification,Manufacturer,ManufactureContactor,
      SerialNo,ManageNo,AssetsNo,LeaderName,BuyDate,Price, InstrumentForm,CalibrationType,BarCode,
      RecordState,CreateDate,CreateUser,Remark,ItemCode,LastUpdateUser,LastUpdateDate)
      values (#BelongDepart#,#StorePalce#,#InstrumentName#,#Specification#,#Manufacturer#,#ManufactureContactor#,#SerialNo#,#ManageNo#,
      #AssetsNo#,#LeaderName#,#BuyDate#,#Price#,
      #InstrumentForm#,#CalibrationType#,#BarCode#,#RecordState#,${dbDate},#CreateUser#,#Remark#,#ItemCode#,#LastUpdateUser#,${dbDate})
    </insert>
    <update id="UpdateCertificationInfo" parameterClass="InstrumentModel">
      Update Instrument_BaseInfo Set
      <!--<isNotNull property="CertificateNo">-->
        CertificateNo=#CertificateNo#,
        DueStartDate=#DueStartDate#,
        DueEndDate=#DueEndDate#,
        InspectOrg=#InspectOrg#,
      <!--</isNotNull>-->
      RecordState=#RecordState#
      where InstrumentId = #InstrumentId#
    </update>
    <update id="Update4Instrument" parameterClass="InstrumentModel">
      Update Instrument_BaseInfo Set
      BelongDepart=#BelongDepart#,
      StorePalce=#StorePalce#,
      InstrumentName=#InstrumentName#,
      EnglishName=#EnglishName#,
      Specification=#Specification#,
      Manufacturer=#Manufacturer#,
      ManufactureContactor=#ManufactureContactor#,
      SerialNo=#SerialNo#,
      ManageNo=#ManageNo#,
      AssetsNo=#AssetsNo#,
      ManageLevel=#ManageLevel#,
      InspectCycle=#InspectCycle#,
      LeaderName=#LeaderName#,
      ProjectTeam=#ProjectTeam#,
      MeasureCharacter=#MeasureCharacter#,
      TechniqueCharacter=#TechniqueCharacter#,
      BuyDate=#BuyDate#,
      InstrumentType=#InstrumentType#,
      Price=#Price#,
      DurableYears=#DurableYears#,
      InstrumentCate=#InstrumentCate#,
      SubInstrumentCate=#SubInstrumentCate#,
      InstrumentForm=#InstrumentForm#,
      CalibrationType=#CalibrationType#,
      VerificationType=#VerificationType#,
      Number=#Number#,
      RecordState=#RecordState#,
      Remark=#Remark#,
      UseDate=#UseDate#,
      LastUpdateUser=#LastUpdateUser#,
      LastUpdateDate=${dbDate},
      CombinedType=#CombinedType#,
      ParentID=#ParentID#
      where InstrumentId = #InstrumentId#
    </update>
    <update id="Update4Assets" parameterClass="InstrumentModel">
      Update Instrument_BaseInfo Set
      BelongDepart=#BelongDepart#,
      StorePalce=#StorePalce#,
      InstrumentName=#InstrumentName#,
      Specification=#Specification#,
      Manufacturer=#Manufacturer#,
      ManufactureContactor=#ManufactureContactor#,
      SerialNo=#SerialNo#,
      ManageNo=#ManageNo#,
      AssetsNo=#AssetsNo#,
      LeaderName=#LeaderName#,
      BuyDate=#BuyDate#,
      Price=#Price#,
      InstrumentForm=#InstrumentForm#,
      CalibrationType=#CalibrationType#,
      RecordState=#RecordState#,
      Remark=#Remark#,
      LastUpdateUser=#LastUpdateUser#,
      LastUpdateDate=${dbDate}
      where InstrumentId = #InstrumentId#
    </update>
    <update id="UpdateInstrumentOfCraft" parameterClass="Hashtable">
      Update Instrument_BaseInfo Set
      CraftId=#CraftId#
      where InstrumentId = #InstrumentId#
    </update>
    <update id="UpdateInstrumentSetCraftNull" parameterClass="int">
      Update Instrument_BaseInfo Set
      CraftId=null
      where CraftId = #CraftId#
    </update>
    <update id="UpdateLastCheckInfo" parameterClass="int">
      Update Instrument_BaseInfo Set
      LastCheckDate =${dbDate},
      LastCheckUser = #LastCheckUser#
      where InstrumentId = #InstrumentId#
    </update>
    

    <!--检查是否已经存在管理编号(排除对自身的验证)-->
    <select id="IsExistManageNo" resultClass="int" parameterClass="InstrumentModel">
      select count(InstrumentId) from Instrument_BaseInfo
      where ManageNo = #ManageNo# and InstrumentId != #InstrumentId#
    </select>

    <!--检查是否已经存在资产编号(排除对自身的验证)-->
    <select id="IsExistAssetsNo" resultClass="int" parameterClass="InstrumentModel">
      select count(InstrumentId) from Instrument_BaseInfo
      where AssetsNo = #AssetsNo# and InstrumentId != #InstrumentId#
    </select>

    <!-- 上一次修改人和修改时间-->
    <update id="UpdateLastUpdateInfo" parameterClass="InstrumentModel">
      Update Instrument_BaseInfo Set
      LastUpdateUser=#LastUpdateUser#,
      LastUpdateDate=${dbDate}
      where InstrumentId = #InstrumentId#
    </update>
    <!--更新器具库(有效期过期)-->
    <update id="UpdateForOverDue" parameterClass="string">
      update Instrument_Certification set IsUseding=0
      where IsUseding=1 and
      <![CDATA[ (EndDate is null or EndDate < #value#); ]]>
      update Instrument_BaseInfo set RecordState=3
      <![CDATA[ 
		  where (DueEndDate is null or DueEndDate < #value#) 
      and RecordState=0 and InstrumentForm=0 and ManageLevel != 'C'
		  ]]>
    </update>



    <delete id="DeleteById" parameterClass="int">
      delete from Instrument_BaseInfo where InstrumentId = #value#
    </delete>
    
    <delete id="DeleteBatchByIds" parameterClass="string">
      delete from Instrument_BaseInfo where InstrumentId in ($value$)
    </delete>
    <!--获取关键字查询仪器信息;-->
    <select id="GetInstrumentListByKeyWorks" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      <isNotEmpty property="key">
        where (InstrumentName Like '%$key$%' OR Specification Like '%$key$%' OR SerialNo Like '%$key$%')
        <isNotEmpty property="instrumentForm">
          and instrumentForm=#instrumentForm#
        </isNotEmpty>
      </isNotEmpty>
    </select>
  </statements>
</sqlMap>