<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Instrument_Certification">
  <alias>
    <typeAlias alias="InstrumentCertificationModel" type="Instrument.Common.Models.InstrumentCertificationModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="InstrumentCertificationModel">
      <result property="LogId" column="LogId" />
      <result property="InstrumentId" column="InstrumentId" />
      <result property="FileId" column="FileId" />
      <result property="CertificationCode" column="CertificationCode" />
      <result property="CheckDate" column="CheckDate" />
      <result property="EndDate" column="EndDate" />
      <result property="SendInstrumentDate" column="SendInstrumentDate" />
      <result property="ReturnInstrumentDate" column="ReturnInstrumentDate" />
      <result property="GetCertificateDate" column="GetCertificateDate" />
      <result property="CertificateConfirmDate" column="CertificateConfirmDate" />
      <result property="OrderNo" column="OrderNo" />
      <result property="MeasureOrg" column="MeasureOrg" />
      <result property="CheckResult" column="CheckResult" />
      <result property="ErrorValue" column="ErrorValue" />
      <result property="RecordState" column="RecordState" />
      <result property="Remark" column="Remark" />
      <result property="CreateUser" column="CreateUser" />
      <result property="CreateDate" column="CreateDate" />
      <result property="ItemCode" column="ItemCode" />
      <result property="IsUseding" column="IsUseding" />
      <result property="CertMoney" column="CertMoney" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Instrument_Certification.LogId
      ,Instrument_Certification.InstrumentId
      ,Instrument_Certification.FileId
      ,Instrument_Certification.CertificationCode
      ,Instrument_Certification.CheckDate
      ,Instrument_Certification.EndDate
      ,Instrument_Certification.SendInstrumentDate
      ,Instrument_Certification.ReturnInstrumentDate
      ,Instrument_Certification.GetCertificateDate
      ,Instrument_Certification.CertificateConfirmDate
      ,Instrument_Certification.OrderNo
      ,Instrument_Certification.MeasureOrg
      ,Instrument_Certification.CheckResult
      ,Instrument_Certification.ErrorValue
      ,Instrument_Certification.RecordState
      ,Instrument_Certification.Remark
      ,Instrument_Certification.CreateUser
      ,Instrument_Certification.CreateDate
      ,Instrument_Certification.ItemCode
      ,Instrument_Certification.IsUseding
      ,Instrument_Certification.CertMoney
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from Instrument_Certification</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where LogId = #value#
    </select>
    <select id="GetByWhere" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      <isNotEmpty>
        where $value$
      </isNotEmpty>
    </select>
    <select id="GetByInstrumentId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where InstrumentId = #value#
    </select>
    <select id="GetByCertificationCode" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where CertificationCode = #value#
    </select>
    <select id="GetMaxEndDateByInstrumentId" resultMap="SelectAllResult"  parameterClass="Hashtable">
      select top 1 <include refid="TableFields"/> from Instrument_Certification
      where InstrumentId = #InstrumentId# and RecordState=1
      <!--and EndDate >= #CurrentDate#-->
      <![CDATA[
       and CheckDate <= #CurrentDate# 
      ]]>
      order by EndDate desc
    </select>
    <select id="GetMaxEndDateByInstrumentIdForSQLite" resultMap="SelectAllResult"  parameterClass="Hashtable">
      select <include refid="TableFields"/> from Instrument_Certification
      where InstrumentId = #InstrumentId# and RecordState=1
      <!--and EndDate >= #CurrentDate#--> 
      <![CDATA[
      and CheckDate <= #CurrentDate# 
      ]]>
      order by EndDate desc limit 0,1
    </select>
    <select id="GetByInstrumentIDList" resultMap="SelectAllResult" extends="SelectAll"  parameterClass="Hashtable">
      where RecordState=1 and InstrumentId IN
      <iterate open="(" close=")" conjunction="," property="InstrumentIdList" >
        #InstrumentIdList[]#
      </iterate>
    </select>
    <!--检查是否已经存在证书编号(排除对自身的验证)-->
    <select id="IsExistCertificationCode" resultClass="int" parameterClass="InstrumentCertificationModel">
      select count(LogId) from Instrument_Certification
      where CertificationCode = #CertificationCode# and LogId != #LogId#
    </select>
    <insert id="Insert" parameterClass="InstrumentCertificationModel">
      <selectKey property="LogId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Instrument_Certification(InstrumentId,
      <isNotEqual property="FileId" compareValue="0">
        FileId,
      </isNotEqual>
      CertificationCode,CheckDate,EndDate,SendInstrumentDate,ReturnInstrumentDate,GetCertificateDate,CertificateConfirmDate,OrderNo,MeasureOrg,CheckResult,ErrorValue,RecordState,Remark,CreateUser,CreateDate,ItemCode,IsUseding,CertMoney)
      values (#InstrumentId#,
      <isNotEqual property="FileId" compareValue="0">
        #FileId#,
      </isNotEqual>
      #CertificationCode#,#CheckDate#,#EndDate#,#SendInstrumentDate#,#ReturnInstrumentDate#,#GetCertificateDate#,#CertificateConfirmDate#,#OrderNo#,#MeasureOrg#,#CheckResult#,#ErrorValue#,#RecordState#,#Remark#,#CreateUser#,${dbDate},#ItemCode#,#IsUseding#,#CertMoney#)
    </insert>
    <update id="UpdateFileIdByInstrumentIdAndOrderNo" parameterClass="Hashtable">
      Update Instrument_Certification Set
      FileId=#FileId#
      where  OrderNo=#OrderNo# and InstrumentId=#InstrumentId#
    </update>
    <!--更新当前仪器下正在使用的证书信息-->
    <update id="UpdateIsUseding" parameterClass="InstrumentCertificationModel">
      update Instrument_Certification set IsUseding=0 where InstrumentId=#InstrumentId#;
      update Instrument_Certification set IsUseding=#IsUseding# where LogId=#LogId#;
    </update>
    <update id="UpdateCertInfo" parameterClass="InstrumentCertificationModel">
      Update Instrument_Certification Set
      CertificationCode=#CertificationCode#
      ,CheckDate=#CheckDate#
      ,EndDate=#EndDate#
      where  LogId=#LogId#
    </update>
    <update id="UpdateCertFile" parameterClass="InstrumentCertificationModel">
      Update Instrument_Certification Set
      FileId=#FileId#
      where  LogId=#LogId#
    </update>
    
    <update id="Update" parameterClass="InstrumentCertificationModel">
      Update Instrument_Certification Set      
      <isNotEqual property="FileId" compareValue="0">
        FileId=#FileId#,
      </isNotEqual>
      CertificationCode=#CertificationCode#,
      CheckDate=#CheckDate#,
      EndDate=#EndDate#,
      SendInstrumentDate=#SendInstrumentDate#,
      ReturnInstrumentDate=#ReturnInstrumentDate#,
      GetCertificateDate=#GetCertificateDate#,
      CertificateConfirmDate=#CertificateConfirmDate#,
      OrderNo=#OrderNo#,
      MeasureOrg=#MeasureOrg#,
      CheckResult=#CheckResult#,
      ErrorValue=#ErrorValue#,
      RecordState=#RecordState#,
      Remark=#Remark#,
      CertMoney=#CertMoney#
      where LogId = #LogId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Instrument_Certification where LogId = #value#
    </delete>
    <delete id="DeleteByInstrumentId" parameterClass="int">
      delete from Instrument_Certification where InstrumentId = #value#
    </delete>
  </statements>
</sqlMap>
