<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Knowledges">
  <alias>
    <typeAlias alias="KnowledgesModel" type="Instrument.Common.Models.KnowledgesModel" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="KnowledgesModel">
      <result property="KnowledgeId" column="KnowledgeId" />
      <result property="Abstract" column="Abstract" />
      <result property="State" column="State" />
      <result property="FileId" column="FileId" />
      <result property="Creator" column="Creator" />
      <result property="CreatDate" column="CreatDate" />
      <result property="KType" column="KType" />
      <result property="Title" column="Title" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Knowledges.KnowledgeId
      ,Knowledges.Abstract
      ,Knowledges.State
      ,Knowledges.FileId
      ,Knowledges.Creator
      ,Knowledges.CreatDate
      ,Knowledges.KType
      ,Knowledges.Title
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from Knowledges</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where KnowledgeId = #value#
    </select>
    <select id="GetByIdList" resultMap="SelectAllResult" extends="SelectAll" parameterClass="List">
      where KnowledgeId in
      <iterate open="(" close=")" conjunction=",">
        #[]#
      </iterate>
    </select>
    <select id="GetCountByKType" resultClass="Hashtable"  parameterClass="int">
      select KType,COUNT(1) as Num from Knowledges where State=#value# group by KType
    </select>

    <insert id="Insert" parameterClass="KnowledgesModel">
      <selectKey property="KnowledgeId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Knowledges(Abstract,State,FileId,Creator,CreatDate,KType,Title)
      values (#Abstract#,#State#,#FileId#,#Creator#,${dbDate},#KType#,#Title#)
    </insert>
    <update id="Update" parameterClass="KnowledgesModel">
      Update Knowledges Set
      Abstract=#Abstract#,
      State=#State#,
      FileId=#FileId#,
      KType=#KType#,
      Title=#Title#
      where KnowledgeId = #KnowledgeId#
    </update>
    <update id="UpdateStateByIdList" parameterClass="Hashtable">
      Update Knowledges Set
      State=#State#
      where KnowledgeId in
      <iterate open="(" close=")" conjunction="," property="KnowledgeIdList">
        #KnowledgeIdList[]#
      </iterate>
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Knowledges where KnowledgeId = #value#
    </delete>

    <delete id="DeleteByIdList" parameterClass="List">
      delete from Knowledges where KnowledgeId  in
      <iterate open="(" close=")" conjunction=",">
      #[]#
    </iterate>
    </delete>
  </statements>
</sqlMap>