<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Order_BaseInfo">
  <alias>
    <typeAlias alias="OrderModel" type="Instrument.Common.Models.OrderModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="OrderModel">
      <result property="OrderId" column="OrderId" />
      <result property="OrderNumber" column="OrderNumber" />
      <result property="QuotationNumber" column="QuotationNumber" />
      <result property="UserId" column="UserId" />
      <result property="SendUser" column="SendUser" />
      <result property="SendDate" column="SendDate" />
      <result property="InstrumentCount" column="InstrumentCount" />
      <result property="DownloadCertState" column="DownloadCertState" />
      <result property="DownloadDate" column="DownloadDate" />
      <result property="ReceivedState" column="ReceivedState" />
      <result property="ReceivedUser" column="ReceivedUser" />
      <result property="ReceivedDate" column="ReceivedDate" />
      <result property="UpdateState" column="UpdateState" />
      <result property="UpdateDate" column="UpdateDate" />
      <result property="CreateDate" column="CreateDate" />
      <result property="CreateUser" column="CreateUser" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Order_BaseInfo.OrderId
      ,Order_BaseInfo.OrderNumber
      ,QuotationNumber
      ,Order_BaseInfo.UserId
      ,Order_BaseInfo.SendUser
      ,Order_BaseInfo.SendDate
      ,Order_BaseInfo.InstrumentCount
      ,Order_BaseInfo.DownloadCertState
      ,Order_BaseInfo.DownloadDate
      ,Order_BaseInfo.ReceivedState
      ,Order_BaseInfo.ReceivedUser
      ,Order_BaseInfo.ReceivedDate
      ,Order_BaseInfo.UpdateState
      ,Order_BaseInfo.UpdateDate
      ,Order_BaseInfo.CreateDate
      ,Order_BaseInfo.CreateUser
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from Order_BaseInfo</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where OrderId = #value#
    </select>
    <!-- 是否存在委托单号 -->
    <select id="IsExistOrderNumber" resultClass="int" parameterClass="string">
      Select count(OrderId) from Order_BaseInfo where OrderNumber = #value#
    </select>
    <select id="GetByIdList" resultMap="SelectAllResult" extends="SelectAll"  parameterClass="Hashtable">
      where OrderId IN
      <iterate open="(" close=")" conjunction="," property="OrderIdList" >
        #OrderIdList[]#
      </iterate>
    </select>
    <insert id="Insert" parameterClass="OrderModel">
      <selectKey property="OrderId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Order_BaseInfo(OrderNumber,QuotationNumber,UserId,SendUser,InstrumentCount,DownloadCertState,ReceivedState,ReceivedUser,UpdateState,CreateDate,CreateUser)
      values (#OrderNumber#,#QuotationNumber#,#UserId#,#SendUser#,#InstrumentCount#,#DownloadCertState#,#ReceivedState#,#ReceivedUser#,#UpdateState#,${dbDate},#CreateUser#)
    </insert>
    <update id="UpdateDownloadCertState" parameterClass="OrderModel">
      Update Order_BaseInfo Set
      DownloadDate=#DownloadDate#,
      DownloadCertState=#DownloadCertState#
      where OrderId = #OrderId#
    </update>
    <!-- 修改送检单的受理状态-->
    <update id="UpdateReceivedInfo" parameterClass="OrderModel">
      Update Order_BaseInfo Set
      QuotationNumber=#QuotationNumber#,      
      ReceivedState=#ReceivedState#,
      ReceivedUser=#ReceivedUser#,
      ReceivedDate=#ReceivedDate#
      where OrderId = #OrderId#
    </update>
    <update id="Update" parameterClass="OrderModel">
      Update Order_BaseInfo Set
      OrderNumber=#OrderNumber#,
      UserId=#UserId#,
      SendUser=#SendUser#,
      SendDate=#SendDate#,
      InstrumentCount=#InstrumentCount#,
      DownloadCertState=#DownloadCertState#,
      ReceivedState=#ReceivedState#,
      ReceivedUser=#ReceivedUser#,
      ReceivedDate=#ReceivedDate#,
      UpdateState=#UpdateState#,
      UpdateDate=#UpdateDate#
      where OrderId = #OrderId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Order_BaseInfo where OrderId = #value#
    </delete>
    <select id="GetAllOrderListByWhere" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      where $value$
    </select>
  </statements>
</sqlMap>