<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Order_SendInstrument">
  <alias>
    <typeAlias alias="OrderSendInstrumentModel" type="Instrument.Common.Models.OrderSendInstrumentModel, Instrument.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="OrderSendInstrumentModel">
      <result property="AutoId" column="AutoId" />
      <result property="InstrumentId" column="InstrumentId" />
      <result property="InstrumentName" column="InstrumentName" />
      <result property="Specification" column="Specification" />
      <result property="OrderId" column="OrderId" />
      <result property="CertificationNumber" column="CertificationNumber" />
      <result property="SerialNo" column="SerialNo" />
      <result property="ManageNo" column="ManageNo" />
      <result property="InspectDate" column="InspectDate" />
      <result property="DueEndDate" column="DueEndDate" />
      <result property="InspectOrg" column="InspectOrg" />
      <result property="IsDownloadCert" column="IsDownloadCert" />
      <result property="IsComplete" column="IsComplete" />
      <result property="IsCompleteCert" column="IsCompleteCert" />
      <result property="IsSend" column="IsSend" />
      <result property="ItemCode" column="ItemCode" />
      <result property="Remark" column="Remark" />
      <result property="PerPrice" column="PerPrice" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Order_SendInstrument.AutoId
      ,Order_SendInstrument.InstrumentId
      ,Order_SendInstrument.OrderId
      ,Order_SendInstrument.InstrumentName
      ,Specification
      ,Order_SendInstrument.CertificationNumber
      ,Order_SendInstrument.SerialNo
      ,Order_SendInstrument.ManageNo
      ,Order_SendInstrument.InspectDate
      ,Order_SendInstrument.DueEndDate
      ,Order_SendInstrument.InspectOrg
      ,Order_SendInstrument.IsDownloadCert
      ,Order_SendInstrument.IsComplete
      ,Order_SendInstrument.IsCompleteCert
      ,Order_SendInstrument.IsSend
      ,Order_SendInstrument.ItemCode
      ,Order_SendInstrument.Remark
      ,Order_SendInstrument.PerPrice
    </sql>
    <select id="SelectAll">
      select <include refid="TableFields"/> from Order_SendInstrument
    </select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where AutoId = #value#
    </select>
    <select id="GetByItemCode" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      where ItemCode = #value#
    </select>
    <select id="GetByOrderId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      <!--select O.*,I.InstrumentName,I.Specification,I.SerialNo,I.ManageNo from Order_SendInstrument O left join Instrument_BaseInfo I on
      O.InstrumentId=I.InstrumentId-->
      where OrderId = #value#
    </select>
    <select id="GetByOrderIdList" resultMap="SelectAllResult" extends="SelectAll" parameterClass="Hashtable">
      where OrderId IN
      <iterate open="(" close=")" conjunction="," property="OrderIdList" >
        #OrderIdList[]#
      </iterate>
    </select>
    <insert id="Insert" parameterClass="OrderSendInstrumentModel">
      <selectKey property="AutoId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Order_SendInstrument(OrderId,InstrumentId,InstrumentName,Specification,CertificationNumber,SerialNo,ManageNo,InspectDate,DueEndDate,InspectOrg,ItemCode,Remark,PerPrice)
      values (#OrderId#,#InstrumentId#,#InstrumentName#,#Specification#,#CertificationNumber#,#SerialNo#,#ManageNo#,#InspectDate#,#DueEndDate#,#InspectOrg#,#ItemCode#,#Remark#,#PerPrice#)
    </insert>
    <select id="GetByIDList" resultMap="SelectAllResult" extends="SelectAll"  parameterClass="Hashtable">
      where InstrumentId IN
      <iterate open="(" close=")" conjunction="," property="InstrumentIdList" >
        #InstrumentIdList[]#
      </iterate>
    </select>
    <update id="UpdateIsDownloadCert" parameterClass="int">
      Update Order_SendInstrument Set
      IsDownloadCert=#IsDownloadCert#
      where AutoId = #value#
    </update>
    <update id="UpdateIsComplete" parameterClass="OrderSendInstrumentModel">
      Update Order_SendInstrument Set
      IsComplete=#IsComplete#,
      IsCompleteCert=#IsCompleteCert#
      where ItemCode = #ItemCode#
    </update>
    <update id="Update" parameterClass="OrderSendInstrumentModel">
      Update Order_SendInstrument Set
      InstrumentId=#InstrumentId#,
      OrderId=#OrderId#,
      CertificationNumber=#CertificationNumber#,
      SerialNo=#SerialNo#,
      ManageNo=#ManageNo#,
      InspectDate=#InspectDate#,
      DueEndDate=#DueEndDate#,
      InspectOrg=#InspectOrg#,
      IsDownloadCert=#IsDownloadCert#,
      IsComplete=#IsComplete#,
      IsCompleteCert=#IsCompleteCert#,
      IsSend=#IsSend#,
      ItemCode=#ItemCode#,
      Remark=#Remark#,
      PerPrice=#PerPrice#
      where AutoId = #AutoId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Order_SendInstrument where AutoId = #value#
    </delete>
    <delete id="DeleteByInstrumentId" parameterClass="int">
      delete from Order_SendInstrument where InstrumentId = #value#
    </delete>
    <delete id="DeleteByOrderId" parameterClass="int">
      delete from Order_SendInstrument where OrderId = #value#
    </delete>
    <delete id="DeleteByIds" parameterClass="Hashtable">
      delete from Order_SendInstrument where AutoId in
      <iterate open="(" close=")" conjunction="," property="AutoIdList" >
        #AutoIdList[]#
      </iterate>
    </delete>
    <select id="GetAllSendInstrumentListByWhere" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
      where $value$
    </select>
  </statements>
</sqlMap>
