<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<add key="dbDate" value="getdate()" />
	<add key="selectKey" value="select @@IDENTITY as value" />


	<add key="InstrumentDB_ConnectionString" value="Data Source=172.18.0.50;Initial Catalog=InstrumentManager;User ID=sa;Password=sasa;Persist Security Info=True;" />

	<add key="sqlserver" value="sqlServer2.0" />
</settings>