<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<properties resource="properties.config" />

	<settings>
		<setting useStatementNamespaces="true"/>
		<setting cacheModelsEnabled="true" />
		<setting useReflectionOptimizer="true"/>
	</settings>

	<!-- SQL Server-->
	<providers embedded="ToolsLib.IBatisNet.Config.providers.config, ToolsLib"/>


	<database>
		<provider name="${sqlserver}"/>
		<dataSource name="instrumentdb" connectionString="${InstrumentDB_ConnectionString}" />
	</database>

	<sqlMaps>
		<!-- ==============系统管理通用配置 Start =================== -->
		<sqlMap embedded="Global.Common.Mappings.Sys_User.config, Global.Common"/>
		<sqlMap embedded="Global.Common.Mappings.Sys_Params.config, Global.Common"/>
		<sqlMap embedded="Global.Common.Mappings.Sys_ParamItems.config, Global.Common"/>
		<sqlMap embedded="Global.Common.Mappings.Sys_Role.config, Global.Common"/>
		<sqlMap embedded="Global.Common.Mappings.Sys_Permission.config, Global.Common"/>
		<sqlMap embedded="Global.Common.Mappings.Sys_Menu.config, Global.Common"/>
		<sqlMap embedded="Global.Common.Mappings.Sys_Attachment.config, Global.Common"/>
		<sqlMap embedded="Global.Common.Mappings.Organization.config, Global.Common"/>
		<sqlMap embedded="Global.Common.Mappings.Paging.config, Global.Common"/>
		<!--<sqlMap embedded="Global.Common.Mappings.Sales_ManageDepart.config, Global.Common"/>-->
		<sqlMap embedded="Global.Common.Mappings.User_ManageDepart.config, Global.Common"/>
		<sqlMap embedded="Global.Common.Mappings.Sys_OperateLog.config, Global.Common"/>
		<sqlMap embedded="Global.Common.Mappings.Sys_BusinessLog.config, Global.Common"/>
		<sqlMap embedded="Global.Common.Mappings.Sys_Duty.config, Global.Common"/>
		<!--<sqlMap embedded="Global.Common.Mappings.Sales.config, Global.Common"/>-->
		<!-- ==============系统管理通用配置 End =================== -->

		<!-- ==============配置 Start =================== -->
		<sqlMap embedded="Instrument.Common.Mappings.Instrument_BaseInfo.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.BaseData_InstrumentUsingPlan.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.Instrument_CheckLog.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.Instrument_RepairPlan.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.Craft_BaseInfo.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.Order_SendInstrument.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.Order_BaseInfo.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.Instrument_Certification.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.Document_BaseInfo.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.Instrument_WaitSend.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.Contact.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.Instrument_Flow.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.Business_Attachment.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.Instrument_Periodcheck.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.AssetCheck_PlanDetail.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.AssetCheck_Plan.config, Instrument.Common"/>
		<sqlMap embedded="Instrument.Common.Mappings.AssetCheck_Operator.config, Instrument.Common"/>
    <sqlMap embedded="Instrument.Common.Mappings.Instrument_InnerCheck.config, Instrument.Common"/>
		<!-- ==============配置 End =================== -->

	</sqlMaps>

</sqlMapConfig>

