
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>权限管理</title>
</head>
<frameset cols="22%, *" frameborder="no" border="0" framespacing="0">
  <frame src="@Url.Content("~/SysManage/Permission/PermissionTreePage")" name="leftFrame" scrolling="auto" noresize id="leftFrame" />
  <frame src="@Url.Content("~/SysManage/Permission/Details?permId=1")" name="mainFrame" scrolling="auto" noresize id="mainFrame" />
</frameset>
</html>


