<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" >
	<description>Data Access</description>
	<!--多数据库支持相关-->
	<object id="globalDbMapper" type="ToolsLib.IBatisNet.BaseMapper, ToolsLib" lazy-init="true" />

	<object id="UserDaoImpl" type="Global.DataAccess.UserDaoImpl, Global.DataAccess" lazy-init="true"/>
	<object id="ParamDaoImpl" type="Global.DataAccess.ParamDaoImpl, Global.DataAccess" lazy-init="true"/>
	<object id="ParamItemDaoImpl" type="Global.DataAccess.ParamItemDaoImpl, Global.DataAccess" lazy-init="true"/>
	<object id="RoleDaoImpl" type="Global.DataAccess.RoleDaoImpl, Global.DataAccess" lazy-init="true"/>
	<object id="PermissionDaoImpl" type="Global.DataAccess.PermissionDaoImpl, Global.DataAccess" lazy-init="true"/>
	<object id="MenuDaoImpl" type="Global.DataAccess.MenuDaoImpl, Global.DataAccess" lazy-init="true"/>
	<object id="AttachmentDaoImpl" type="Global.DataAccess.AttachmentDaoImpl, Global.DataAccess" lazy-init="true"/>
	<object id="OrgDaoImpl" type="Global.DataAccess.OrgDaoImpl, Global.DataAccess" lazy-init="true"/>
	
  <object id="UserManageDepartDaoImpl" type="Global.DataAccess.UserManageDepartDaoImpl, Global.DataAccess" lazy-init="true"/>
  <object id="DutyDaoImpl" type="Global.DataAccess.DutyDaoImpl, Global.DataAccess" lazy-init="true"/>
  
  <object id="EmployeeDaoImpl" type="Global.DataAccess.EmployeeDaoImpl, Global.DataAccess" lazy-init="true"/>
  <!--日志记录-->
  <object id="Sys_BusinessLogDaoImpl" type="Global.DataAccess.Sys_BusinessLogDaoImpl, Global.DataAccess" lazy-init="true"/>
  <!--操作日志-->
  <object id="OperateLogDaoImpl" type="Global.DataAccess.OperateLogDaoImpl, Global.DataAccess" lazy-init="true"/>
  

	<object id="globalProvider" type="Global.DataAccess.DBProvider, Global.DataAccess">
		<!--数据库连接-->
		<property name="dbMapper" ref="globalDbMapper"/>

		<property name="UserDAO" ref="UserDaoImpl"/>
    <property name="ParamDAO" ref="ParamDaoImpl"/>
		<property name="ParamItemDAO" ref="ParamItemDaoImpl"/>
		<property name="RoleDAO" ref="RoleDaoImpl"/>
		<property name="PermissionDAO" ref="PermissionDaoImpl"/>
		<property name="MenuDAO" ref="MenuDaoImpl"/>
		<property name="AttachmentDAO" ref="AttachmentDaoImpl"/>
		<property name="OrgDAO" ref="OrgDaoImpl"/>
		
    <property name="UserManageDepartDAO" ref="UserManageDepartDaoImpl"/>
    <property name="DutyDAO" ref="DutyDaoImpl"/>
    
    <property name="EmployeeDAO" ref="EmployeeDaoImpl"/>
    <!--日志记录-->
    <property name="Sys_BusinessLogDao" ref="Sys_BusinessLogDaoImpl"/>
    <!--操作日志-->
    <property name="OperateLogDao" ref="OperateLogDaoImpl"/>
	</object>
</objects>
