<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Employee_BaseInfo">
	<alias>
		<typeAlias alias="EmployeeModel" type="Global.Common.Models.EmployeeModel" />
	</alias>
	<resultMaps>
		<resultMap id="SelectAllResult" class="EmployeeModel">
			<result property="UserId" column="UserId" />
			<result property="UserName" column="UserName" />
      <result property="EnglishName" column="EnglishName" />
			<result property="Sex" column="Sex" />
			<result property="IDCard" column="IDCard" />
      <result property="WorkCardCode" column="WorkCardCode" />
			<result property="DateOfBirth" column="DateOfBirth" />
			<result property="TopEducation" column="TopEducation" />
			<result property="WorkingDate" column="WorkingDate" />
			<result property="JoinGrgtDate" column="JoinGrgtDate" />
			<result property="BelongDepart" column="BelongDepart" />
			<result property="WorkDepart" column="WorkDepart" />
			<result property="Duty" column="Duty" />
			<result property="Position" column="Position" />
			<result property="ShowOrder" column="ShowOrder" />
			<result property="EmployeeState" column="EmployeeState" />
			<result property="DimissionDate" column="DimissionDate" />
			<result property="DimissionDepart" column="DimissionDepart" />
			<result property="DimissionDuty" column="DimissionDuty" />
			<result property="CreateDate" column="CreateDate" />
		</resultMap>
	</resultMaps>
	<statements>
		<sql id="TableFields">
      Employee_BaseInfo.UserId
      ,Employee_BaseInfo.UserName
      ,Employee_BaseInfo.EnglishName
      ,Employee_BaseInfo.Sex
      ,Employee_BaseInfo.IDCard
      ,Employee_BaseInfo.WorkCardCode
      ,CONVERT(varchar(30),Employee_BaseInfo.DateOfBirth,23) DateOfBirth
      ,Employee_BaseInfo.TopEducation
      ,CONVERT(varchar(30),Employee_BaseInfo.WorkingDate,23) WorkingDate
      ,CONVERT(varchar(30),Employee_BaseInfo.JoinGrgtDate,23) JoinGrgtDate
      ,Employee_BaseInfo.BelongDepart
      ,Employee_BaseInfo.WorkDepart
      ,Employee_BaseInfo.Duty
      ,Employee_BaseInfo.Position
      ,Employee_BaseInfo.ShowOrder
      ,Employee_BaseInfo.EmployeeState
      ,CONVERT(varchar(30),Employee_BaseInfo.DimissionDate,23) DimissionDate
      ,DimissionDepart
      ,DimissionDuty
      ,Employee_BaseInfo.CreateDate
    </sql>
		<select id="SelectAll">select <include refid="TableFields"/> from Employee_BaseInfo</select>
		<select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
		<select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
		  where UserId = #value#
		</select>

		<select id="GetAllEmployeeByOrgCode" resultClass="Hashtable" parameterClass="EmployeeModel">
      Select e.UserId,e.UserName,u.LoginName,CONVERT(varchar(30),e.JoinGrgtDate,23) JoinGrgtDate ,o.OrgName,d.Duty,
      case e.Sex when '1' then '男' when '0' then '女' end as Sex
      From Employee_BaseInfo e
      inner join Sys_User u on e.UserId=u.UserId
      Left Join Organization o on o.OrgCode=e.BelongDepart
      left join Sys_Duty d on e.duty=d.dutyid
      where e.EmployeeState = #EmployeeState# and e.BelongDepart like '$BelongDepart$%'
      order by e.BelongDepart,e.ShowOrder
    </select>

		<select id="GetEmployeeCountByOrgCode" resultClass="int" parameterClass="string">
			select count(*) from Employee_BaseInfo 
			where EmployeeState = 0 and BelongDepart like  '$value$%'
		</select>

    <select id="GetEmployeeCountByDutyId" resultClass="int" parameterClass="int">
      select count(UserId) from Employee_BaseInfo
      where EmployeeState = 0 and Duty = #value#
    </select>

		<select id="GetAllEmployeeLeaderRelationByOrgId" resultClass="Hashtable" parameterClass="string">
      select e.UserId,e.UserName,u.LoginName,o.OrgName,r.LeaderId,e2.UserName as LUserName,u2.LoginName as LLoginName,o2.OrgName as LOrgName
      from Employee_BaseInfo e
      Inner Join Sys_User u on u.UserId = e.UserId
      Left join Employee_LeaderRelation r on u.UserId = r.EmployeeId
      left Join Sys_User u2 on u2.UserId = r.LeaderId
      Left join Employee_BaseInfo e2 on e2.UserId = r.LeaderId
      Left Join Organization o on o.OrgCode = e.BelongDepart
      Left Join Organization o2 on o2.OrgCode = e2.BelongDepart
      where e.EmployeeState = 0 and e.BelongDepart like  '$value$%'
    </select>

		<select id="SearchByNameJobNumb" resultClass="Hashtable" parameterClass="string">
      select top 25 u.UserId,u.JobNo,u.UserName,IsNull(o.OrgName,'——') as OrgName
      Left Join Organization o on o.OrgCode = u.BelongDepart
      where EmployeeState = 0 and (JobNo like  '%$value$%' or UserName like  '$value$%')
    </select>

		<select id="IsExistLeaderRelationByEmployeeId" resultClass="int" parameterClass="int">
		  select count(EmployeeId) from Employee_LeaderRelation
		  where EmployeeId =  #value#
		</select>
    
		<insert id="Insert" parameterClass="EmployeeModel">
			<selectKey property="UserId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Employee_BaseInfo(UserId,UserName,EnglishName,Sex,IDCard,WorkCardCode,DateOfBirth,TopEducation,WorkingDate,JoinGrgtDate,BelongDepart,WorkDepart,Duty,Position,ShowOrder,EmployeeState,CreateDate)
      values (#UserId#,#UserName#,#EnglishName#,#Sex#,#IDCard#,#WorkCardCode#,#DateOfBirth#,#TopEducation#,#WorkingDate#,#JoinGrgtDate#,#BelongDepart#,#WorkDepart#,#Duty#,#Position#,#ShowOrder#,#EmployeeState#,#CreateDate#)
    </insert>

		<insert id="InsertLeaderRelation" parameterClass="Hashtable">
		  insert into Employee_LeaderRelation(EmployeeId,LeaderId)
		  values (#EmployeeId#,#LeaderId#)
		</insert>
    
		<update id="Update" parameterClass="EmployeeModel">
      Update Employee_BaseInfo Set
      UserName=#UserName#,
      EnglishName=#EnglishName#,
      Sex=#Sex#,
      IDCard=#IDCard#,
      WorkCardCode=#WorkCardCode#,
      DateOfBirth=#DateOfBirth#,
      TopEducation=#TopEducation#,
      WorkingDate=#WorkingDate#,
      JoinGrgtDate=#JoinGrgtDate#,
      BelongDepart=#BelongDepart#,
      WorkDepart=#WorkDepart#,
      Duty=#Duty#,
      Position=#Position#,
      ShowOrder=#ShowOrder#,
      EmployeeState=#EmployeeState#,
      DimissionDate=#DimissionDate#,
      DimissionDepart=#DimissionDepart#,
      DimissionDuty=#DimissionDuty#
      where UserId = #UserId#
    </update>

		<update id="UpdateLeaderRelation" parameterClass="Hashtable">
		  Update Employee_LeaderRelation Set
		  LeaderId=#LeaderId#
		  where EmployeeId = #EmployeeId#
		</update>
    
		<delete id="DeleteById" parameterClass="int">
			delete from Employee_BaseInfo where UserId = #value#
		</delete>
	</statements>
</sqlMap>