<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Org_AppendInfo">
  <alias>
    <typeAlias alias="OrgAppendModel" type="Global.Common.Models.OrgAppendModel" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="OrgAppendModel">
      <result property="OrgId" column="OrgId" />
      <result property="OrgLeader" column="OrgLeader" />
      <result property="OfficeTel" column="OfficeTel" />
      <result property="OfficeFax" column="OfficeFax" />
      <result property="OfficeAddress" column="OfficeAddress" />
      <result property="BusinessType" column="BusinessType" />
      <result property="OrgType" column="OrgType" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Org_AppendInfo.OrgId
      ,Org_AppendInfo.OrgLeader
      ,Org_AppendInfo.OfficeTel
      ,Org_AppendInfo.OfficeFax
      ,Org_AppendInfo.OfficeAddress
      ,Org_AppendInfo.BusinessType
      ,Org_AppendInfo.OrgType
    </sql>
    <select id="SelectAll">
      select <include refid="TableFields"/> from Org_AppendInfo
    </select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where OrgId = #value#
    </select>
    <select id="isExist"  parameterClass="int" resultClass="int">
      select 1 from Org_AppendInfo where OrgId = #value#
    </select>
    <insert id="Insert" parameterClass="OrgAppendModel">
      insert into Org_AppendInfo(OrgId,OrgLeader,OfficeTel,OfficeFax,OfficeAddress,BusinessType,OrgType)
      values (#OrgId#,#OrgLeader#,#OfficeTel#,#OfficeFax#,#OfficeAddress#,#BusinessType#,#OrgType#)
    </insert>
    <update id="Update" parameterClass="OrgAppendModel">
      Update Org_AppendInfo Set
      OrgLeader=#OrgLeader#,
      OfficeTel=#OfficeTel#,
      OfficeFax=#OfficeFax#,
      OfficeAddress=#OfficeAddress#,
      BusinessType=#BusinessType#,
      OrgType=#OrgType#
      where OrgId = #OrgId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Org_AppendInfo where OrgId = #value#
    </delete>
  </statements>
</sqlMap>