<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Organization">
	<alias>
		<typeAlias alias="OrgModel" type="Global.Common.Models.OrgModel,Global.Common" />
	</alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="OrgModel">
      <result property="OrgId" column="OrgId" />
      <result property="OrgName" column="OrgName" />
      <result property="OrgCode" column="OrgCode" />
      <result property="ParentOrgId" column="ParentOrgId" />
      <result property="ShowOrder" column="ShowOrder" />
      <!--<result property="OrgType" column="OrgType" />-->
      <result property="IsEnabled" column="IsEnabled" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Organization.OrgId
      ,Organization.OrgName
      ,Organization.OrgCode
      ,Organization.ParentOrgId
      ,Organization.ShowOrder
      <!--,Organization.OrgType-->
      ,Organization.IsEnabled
    </sql>
    <select id="SelectAll">
      select <include refid="TableFields"/> from Organization
    </select>

    <select id="GetUserManageDepartByUserId" resultMap="SelectAllResult" parameterClass="int">
      Select o.OrgCode,o.OrgId,o.ParentOrgId,o.OrgName,ShowOrder,IsEnabled
      from user_ManageDepart d
      left join Organization o on d.OrgCode = o.OrgCode
      where UserId = #value#
    </select>

    <select id="GetByOrgIds" resultMap="SelectAllResult" extends="SelectAll"  parameterClass="Hashtable">
      where OrgId IN
      <iterate open="(" close=")" conjunction="," property="OrgIdList" >
        #OrgIdList[]#
      </iterate>
    </select>
    
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll">
      where RecordState = 1 order by ShowOrder
    </select>
    <select id="GetAll2" resultMap="SelectAllResult" extends="SelectAll">
      order by ShowOrder
    </select>
   
      <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where OrgId = #value#
    </select>
    <select id="GetByOrgCode" resultMap="SelectAllResult" parameterClass="string">
      select OrgId,OrgName,OrgCode,ShowOrder,ParentOrgId,IsEnabled
      from Organization
      Where OrgCode like '$value$%'
      Order by OrgCode,ShowOrder
    </select>

    <select id="GetByParentId" extends="SelectAll"   resultMap="SelectAllResult" parameterClass="int">
      Where  ParentOrgId=#value#
    </select>

    <select id="GetAllByOrgCode" resultClass="Hashtable" parameterClass="string">
      select OrgId,OrgName,OrgCode,ShowOrder,ParentOrgId,
      case IsEnabled when '1' then '启用' when '0' then '禁用' end as IsEnabled
      from Organization
      Where OrgCode like '$value$%'
      Order by IsEnabled Desc,OrgCode,ShowOrder

      <!--select o.OrgId,o.OrgName,o.OrgCode,o.ShowOrder,e.UserName,p.ParamItemName as OrgType,o.ParentOrgId,
      oi.OfficeTel, case o.IsEnabled when '1' then '启用' when '0' then '禁用' end as IsEnabled
      from Organization o Left Join Org_AppendInfo oi on o.OrgId=oi.OrgId
      Left Join Sys_User e on e.UserId = oi.OrgLeader
      Left Join (Select ParamItemName,ParamItemValue From Sys_ParamItems p inner join Sys_Params p2 on p.ParamId=p2.ParamId and ParamCode='AA') p
      on p.ParamItemValue = oi.OrgType
      Where o.OrgCode like '$value$%'
      Order by o.IsEnabled Desc,o.OrgCode,o.ShowOrder-->
    </select>
    
      <select id="GetByCode" resultMap="SelectAllResult" parameterClass="string">
        select OrgId,OrgName,OrgCode,ShowOrder,ParentOrgId,IsEnabled
        from Organization
        Where OrgCode=#value#
        Order by OrgCode,ShowOrder
      </select>

    <select id="GetByOrgCodeAndOrgType" resultMap="SelectAllResult" parameterClass="Hashtable">
      select OrgId,OrgName,OrgCode,ShowOrder,ParentOrgId,IsEnabled
      from Organization
      Where OrgCode like '$OrgCode$%' and OrgType=#OrgType#
      Order by OrgCode,ShowOrder
    </select>

    <select id="GetByOrgType" resultMap="SelectAllResult" parameterClass="int">
      select OrgId,OrgName,OrgCode,ShowOrder,ParentOrgId,IsEnabled
      from Organization
      where OrgType=#value#
      order by OrgCode,ShowOrder
    </select>
    
    <select id="GetCodeById" resultClass="string" parameterClass="int">
      Select OrgCode From Organization where OrgId = #value#
    </select>

    <insert id="Insert" parameterClass="OrgModel">
      <selectKey property="OrgId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Organization(OrgName,OrgCode,ParentOrgId,IsEnabled,ShowOrder,RecordState)
      values (#OrgName#,#OrgCode#,#ParentOrgId#,#IsEnabled#,#ShowOrder#,1)
    </insert>
    <update id="Update" parameterClass="OrgModel">
      Update Organization Set
      OrgName=#OrgName#,
      OrgCode=#OrgCode#,
      IsEnabled=#IsEnabled#,
      ShowOrder=#ShowOrder#
      where OrgId = #OrgId#
    </update>
    <update id="SetOrgState" parameterClass="OrgModel">
      Update Organization Set
      IsEnabled=#IsEnabled#
      where OrgCode like '$OrgCode$%'
    </update>
    <delete id="DeleteByCode" parameterClass="string">
      delete from Organization where OrgCode like '$value$%'
    </delete>
  </statements>
</sqlMap>