<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Paging">
	<parameterMaps>
		<parameterMap id="PagingMap">
			<parameter property="TableName" column="TableName" />
			<parameter property="FieldKey" column="FieldKey" />
			<parameter property="PageCurrent" column="PageCurrent" />
			<parameter property="PageSize" column="PageSize" />
			<parameter property="FieldShow" column="FieldShow" />
			<parameter property="FieldOrder" column="FieldOrder" />
			<parameter property="Where" column="Where" />
			<parameter property="RecordCount" column="RecordCount" direction="Output" />
		</parameterMap>
    <parameterMap id="PagingMap2">
      <parameter property="SQL" column="SQL" />
      <parameter property="Page" column="Page" />
      <parameter property="RecsPerPage" column="RecsPerPage" />
      <parameter property="ID" column="ID" />
      <parameter property="Sort" column="Sort" />
    </parameterMap>
	</parameterMaps>
	
	<statements>
		<procedure id="GetListByPaging" parameterMap="PagingMap" resultClass="Hashtable" >
			spPageViewByStr
		</procedure>
    <procedure id="GetListByPaging2" parameterMap="PagingMap" resultClass="Hashtable" >
      spPageViewByStr2
    </procedure>
    <!--根据条件查询总记录数-->
    <select id="GetRecordCount" resultClass="int" parameterClass="ToolsLib.IBatisNet.PagingModel">
      select count(1)
      from $TableName$
      <isNotEmpty property="Where" prepend="where">
        $Where$
      </isNotEmpty>
    </select>
    <!--根据条件获取数据列表-->
    <select id="GetListForSQLitePaging" resultClass="Hashtable" parameterClass="ToolsLib.IBatisNet.PagingModel">
      select $FieldShow$
      from $TableName$
      <isNotEmpty property="Where" prepend="where">
        $Where$
      </isNotEmpty>
      order by $FieldOrder$
      limit  $PageSize$*($PageCurrent$-1) ,  $PageSize$*$PageCurrent$
    </select>
	</statements>
</sqlMap>
