<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Sales">

  <resultMaps>
    <!--<resultMap extends="Sys_ParamItems.SelectAllResult"  id="ParamItemResult" class="ParamItemModel">
    </resultMap>
    <resultMap extends="Organization.SelectAllResult"  id="OrgResult" class="OrgModel">
    </resultMap>
    <resultMap extends="Sys_User.SelectAllResult"  id="UserResult" class="UserModel">
    </resultMap>-->
  </resultMaps>

  <statements>
    <!-- 用户管理的行政区域 --><!--
    <select id="GetAdminAreaByUserId" resultClass="Hashtable" parameterClass="int">
      select distinct a.UserId,c.ParamItemValue,c.ParamItemName,c.ParamItemId,c.ParentCode
      from Sales_OwnArea a
      inner join Sys_AreaRealation b on a.SaleArea=b.SaleArea
      inner join Sys_ParamItems c on c.ParamItemValue=b.ZipCode
      inner join Sys_Params d on d.ParamId =c.ParamId
      where UserId=#UserId# and d.ParamCode='AA'
    </select>

    --><!-- 用户管理的营销区域--><!--
    <select id="GetSaleOwnAreaByUserId" resultMap="ParamItemResult" parameterClass="int">
      Select i.*
      from Sales_OwnArea a
      inner join Sys_ParamItems i on i.ParamItemValue =a.SaleArea
      inner join Sys_Params p on p.ParamId =i.ParamId
      where UserId = #UserId# and p.ParamCode='AE'
    </select>

    <select id="GetSaleManageDepartByUserId" resultMap="OrgResult" parameterClass="int">
      Select o.OrgCode,o.OrgId,o.ParentOrgId,o.OrgName,ShowOrder,OrgType
      from Sales_ManageDepart d
      left join dbo.Organization o on d.OrgCode = o.OrgCode
      where UserId = #value#
    </select>

    <select id="GetManageDepartByOrgCode" resultClass="string" parameterClass="string">
      Select OrgCode from Sales_ManageDepart
      where OrgCode = '$OrgCode$%'
    </select>

    <select id="GetSaleOwnBusinessByUserId" resultClass="Hashtable" parameterClass="int">
      Select UserId,AutoId,BusinessType,IsMain,ParamItemName as BusinessName from Sales_OwnBusiness o
      inner join Sys_ParamItems i on i.ParamItemValue =CONVERT(varchar(20),o.BusinessType)
      inner join Sys_Params p on p.ParamId =i.ParamId
      where UserId = #UserId# and p.ParamCode='AD'
    </select>

    <select id="GetSaleOwnCompanyByUserId" resultClass="Hashtable" parameterClass="int">
      Select UserId,AutoId,BusinessType,CompanyId,ParamItemName as BusinessName
      from Sales_OwnCompany o
      inner join Sys_ParamItems i on i.ParamItemValue =CONVERT(varchar(20),o.BusinessType)
      inner join Sys_Params p on p.ParamId =i.ParamId
      where UserId = #value# and p.ParamCode='AD'
    </select>

    <select id="GetSaleApplyforCompanyByUserId" resultClass="Hashtable" parameterClass="int">
      Select UserId,AutoId,BusinessType,CompanyId,ParamItemName as BusinessName
      from Sales_ApplyforCompany a
      inner join Sys_ParamItems i on i.ParamItemValue =CONVERT(varchar(20),a.BusinessType)
      inner join Sys_Params p on p.ParamId =i.ParamId
      where UserId = #value# and p.ParamCode='AD'
    </select>
    --><!-- 用户管理的业务员--><!--
    <select id="GetManageSalerByUserId" resultMap="UserResult" parameterClass="int">
      select distinct u.*
      from Sys_User u
      inner join Sales_ManageDepart o on o.OrgCode=u.BelongDepart
      where EmployeeState = 0 and (o.UserId =#value# or u.UserId=#value#)
    </select>

    --><!--<select id="GetNoSalemanByCompanyID" resultClass="Hashtable" parameterClass="int">
      Select CompanyId,BusinessName,BusinessType
      from Report_CompanyWithNoSaleman
      where CompanyId = #value#
    </select>

    <select id="GetRecentUnSaleByCompanyID" resultClass="Hashtable" parameterClass="int">
      Select CompanyId,BusinessName,BusinessType
      from Report_CompanyWithRecentUnSale
      where CompanyId = #value#
    </select>--><!--

    <insert id="InsertOwnArea" parameterClass="Hashtable">
      insert into Sales_OwnArea(UserId,SaleArea)
      values (#UserID#,#SaleArea#)
    </insert>

    <insert id="InsertManageDepart" parameterClass="Hashtable">
      insert into Sales_ManageDepart(UserId,JobNo,OrgCode)
      values (#UserID#,#JobNo#,#OrgCode#)
    </insert>

    <insert id="InsertOwnBusiness" parameterClass="Hashtable">
      insert into Sales_OwnBusiness(UserId,BusinessType,IsMain)
      values (#UserID#,#BusinessType#,#IsMain#)
    </insert>

    <delete id="DeleteOwnAreaByUserId" parameterClass="int">
      delete from Sales_OwnArea where UserId = #value#
    </delete>

    <delete id="DeleteManageDepartByUserId" parameterClass="int">
      delete from Sales_ManageDepart where UserId = #value#
    </delete>

    <delete id="DeleteOwnBusinessByUserId" parameterClass="int">
      delete from Sales_OwnBusiness where UserId = #value#
    </delete>-->
  </statements>
</sqlMap>
