<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Sys_Permission">
	<alias>
		<typeAlias alias="PermissionModel" type="Global.Common.Models.PermissionModel,Global.Common" />
	</alias>
	<resultMaps>
		<resultMap id="SelectAllResult" class="PermissionModel">
			<result property="PermissionId" column="PermissionId" />
			<result property="PermissionName" column="PermissionName" />
			<result property="ParentPermissionId" column="ParentPermissionId" />
			<result property="PermissionResource" column="PermissionResource" />
		</resultMap>
	</resultMaps>
	<statements>
		<sql id="TableFields">
			Sys_Permission.PermissionId
			,Sys_Permission.PermissionName
			,Sys_Permission.ParentPermissionId
			,Sys_Permission.PermissionResource
		</sql>
		<select id="SelectAll">select <include refid="TableFields"/> from Sys_Permission</select>
		<select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
		<select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
			where PermissionId = #value#
		</select>
		<select id="GetByRoleID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
			inner Join Sys_RoleOwnPermission rp on rp.PermissionId = Sys_Permission.PermissionId
			where rp.RoleId = #value#
		</select>

    <select id="GetByParentPermissionID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where ParentPermissionId = #value#
    </select>
    
		<insert id="Insert" parameterClass="PermissionModel">
			<selectKey property="PermissionId" type="post" resultClass="int">${selectKey}</selectKey>
			insert into Sys_Permission(PermissionName,ParentPermissionId,PermissionResource,CreateDate)
			values (#PermissionName#,#ParentPermissionId#,#PermissionResource#,${dbDate})
		</insert>
		<update id="Update" parameterClass="PermissionModel">
			Update Sys_Permission Set
			PermissionName=#PermissionName#,
			ParentPermissionId=#ParentPermissionId#,
			PermissionResource=#PermissionResource#
			where PermissionId = #PermissionId#
		</update>
		<delete id="DeleteById" parameterClass="int">
			delete from Sys_Permission where PermissionId = #value#
		</delete>
	</statements>
</sqlMap>