<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Sys_BusinessLog">
  <alias>
    <typeAlias alias="Sys_BusinessLogModel" type=" Global.Common.Models.Sys_BusinessLogModel,Global.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="Sys_BusinessLogModel">
      <result property="LogId" column="LogId" />
      <result property="FKValue" column="FKValue" />
      <result property="FKType" column="FKType" />
      <result property="CreateUser" column="CreateUser" />
      <result property="Creator" column="Creator" />
      <result property="LogConent" column="LogConent" />
      <result property="FileId" column="FileId" />
      <result property="FileName" column="FileName" />
      <result property="CreateDate" column="CreateDate" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Sys_BusinessLog.LogId
      ,Sys_BusinessLog.FKValue
      ,Sys_BusinessLog.FKType
      ,Sys_BusinessLog.CreateUser
      ,Sys_BusinessLog.Creator
      ,Sys_BusinessLog.LogConent
      ,Sys_BusinessLog.FileId
      ,Sys_BusinessLog.FileName
      ,Sys_BusinessLog.CreateDate
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from Sys_BusinessLog</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where LogId = #value#
    </select>
    <select id="GetByFKValue" resultMap="SelectAllResult" extends="SelectAll" parameterClass="HashTable">
      where FKValue = #FKValue# and FKType=#FKType#
    </select>
    
    <select id="GetByFKValueAndFKType" resultMap="SelectAllResult" extends="SelectAll" 
parameterClass="HashTable">
		where FKType=#FKType# and FKValue in
		<iterate open="(" close=")" conjunction="," property="businessList" >
            #businessList[]#
        </iterate>
    </select>
	  
	  
    <insert id="Insert" parameterClass="Sys_BusinessLogModel">
      <selectKey property="LogId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Sys_BusinessLog(FKValue,FKType,CreateUser,Creator,LogConent,FileId,FileName,CreateDate)
      values (#FKValue#,#FKType#,#CreateUser#,#Creator#,#LogConent#,#FileId#,#FileName#,#CreateDate#)
    </insert>
    <update id="Update" parameterClass="Sys_BusinessLogModel">
      Update Sys_BusinessLog Set
      FKValue=#FKValue#,
      FKType=#FKType#,
      CreateUser=#CreateUser#,
      Creator=#Creator#,
      LogConent=#LogConent#,
      FileId=#FileId#,
      FileName=#FileName#,
      CreateDate=#CreateDate#
      where LogId = #LogId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Sys_BusinessLog where LogId = #value#
    </delete>
    
    <!--批量获取对象-->
    <select id="GetByIdArray" resultMap="SelectAllResult" extends="SelectAll" >
      where LogId in
      <iterate open="(" close=")" conjunction="," >
      #[]#
    </iterate>
    </select>
    <!--批量删除-->
    <delete id="DeleteByIdArray" >
      delete from Sys_BusinessLog where LogId in
      <iterate open="(" close=")" conjunction="," >
        #[]#
      </iterate>
    </delete>
  </statements>
</sqlMap>