<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Sys_Duty">
  <alias>
    <typeAlias alias="DutyModel" type="Global.Common.Models.DutyModel,Global.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="DutyModel">
      <result property="DutyId" column="DutyId" />
      <result property="OrgCode" column="OrgCode" />
      <result property="Duty" column="Duty" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Sys_Duty.DutyId
      ,Sys_Duty.OrgCode
      ,Sys_Duty.Duty
    </sql>
    <select id="SelectAll">
      select <include refid="TableFields"></include> from Sys_Duty
    </select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where DutyId = #value#
    </select>

    <select id="GetAllByOrgCode"  resultClass="DutyModel" parameterClass="string">
      select DutyId,Duty,d.OrgCode
      from Sys_Duty d
      Inner Join Organization o on o.OrgCode = d.OrgCode
      where d.OrgCode = #value#
    </select>

    <select id="GetAllByOrgId"  resultClass="Hashtable" parameterClass="int">
      select DutyId,Duty,d.OrgCode,o.OrgName
      from Sys_Duty d
      Inner Join Organization o on o.OrgCode = d.OrgCode
      where o.OrgId = #value#
    </select>

    <select id="GetAllDutyByOrgCode"  resultClass="Hashtable" parameterClass="string">
      select DutyId,Duty,d.OrgCode,o.OrgName
      from Sys_Duty d
      Inner Join Organization o on o.OrgCode = d.OrgCode
      where d.OrgCode like '$value$%'
    </select>

    <select id="IsExistDutyByOrgIdAndDutyId"  resultClass="int" parameterClass="Hashtable">
      select count(DutyId) from Sys_Duty d
      Inner Join Organization o on o.OrgCode = d.OrgCode
      where DutyId != #DutyId# and Duty = #Duty# and OrgId = #OrgId#
    </select>

    <select id="GetDutyCountByOrgId" resultClass="int" parameterClass="int">
      select count(DutyId) from Sys_Duty d
      Inner Join Organization o on o.OrgCode = d.OrgCode
      where OrgId = #value#
    </select>

    <insert id="Insert" parameterClass="DutyModel">
      <selectKey property="DutyId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Sys_Duty(OrgCode,Duty)
      values (#OrgCode#,#Duty#)
    </insert>
    <update id="Update" parameterClass="DutyModel">
      Update Sys_Duty Set
      OrgCode=#OrgCode#,
      Duty=#Duty#
      where DutyId = #DutyId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Sys_Duty where DutyId = #value#
    </delete>
  </statements>
</sqlMap>