<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Sys_ParamItems">
	<alias>
		<typeAlias alias="ParamItemModel" type="Global.Common.Models.ParamItemModel,Global.Common" />
	</alias>
	<resultMaps>
		<resultMap id="SelectAllResult" class="ParamItemModel">
			<result property="ParamItemId" column="ParamItemId" />
			<result property="ParamId" column="ParamId" />
			<result property="ParamItemName" column="ParamItemName" />
			<result property="ParamItemValue" column="ParamItemValue" />
			<result property="ParentCode" column="ParentCode" />
			<result property="status" column="status" />
			<result property="ShowOrder" column="ShowOrder" />
			<result property="Remark" column="Remark" />
		</resultMap>
	</resultMaps>
	<statements>
		<sql id="TableFields">
      Sys_ParamItems.ParamItemId
      ,Sys_ParamItems.ParamId
      ,Sys_ParamItems.ParamItemName
      ,Sys_ParamItems.ParamItemValue
      ,Sys_ParamItems.ParentCode
      ,Sys_ParamItems.status
      ,Sys_ParamItems.ShowOrder
      ,Sys_ParamItems.Remark
    </sql>
		<select id="SelectAll">select <include refid="TableFields"/> from Sys_ParamItems </select>
		<select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"> where Status=0 Order By ParamId Asc, ShowOrder Asc</select>
		<select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where ParamItemId = #value#
    </select>
    
		<select id="GetByParamId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where ParamId = #value# and Status=0 Order By ShowOrder Asc
    </select>
    <!--判断是否存在指定的参数项值-->
    <select id="IsExistParamItemValue" resultClass="int" parameterClass="ParamItemModel">
      select count(ParamItemId) from Sys_ParamItems where ParamItemId != #ParamItemId# and ParamId = #ParamId# and ParamItemValue = #ParamItemValue#
    </select>
    
    <!-- 获取打印机-->
    <select id="GetPrinter" resultClass="Hashtable" parameterClass="Hashtable">
      select a.ParamItemId,a.ParamItemName,a.ParamItemValue,a.Remark
      from Sys_ParamItems a
      where a.ParamId=#ParamId# and a.Status=#Status#
    </select>

    <!--相似查找-->
    <select id="SearchByName" resultClass="Hashtable" parameterClass="Hashtable">
      select ParamItemName,ParamItemId,ParamId
      from Sys_ParamItems
      where ParamId = #ParamId# and ( 1 = 1
      <isNotEmpty property="ParamItemName" prepend="And">
        ParamItemName like  '%$ParamItemName$%'
      </isNotEmpty>
      )
    </select>

    <select id="GetByParamItemIds" resultMap="SelectAllResult" extends="SelectAll"  parameterClass="Hashtable">
      where ParamItemId IN
      <iterate open="(" close=")" conjunction="," property="ParamItemIdList" >
        #ParamItemIdList[]#
      </iterate>
    </select>
    
		<insert id="Insert" parameterClass="ParamItemModel">
			<selectKey property="ParamItemId" type="post" resultClass="int">${selectKey}</selectKey>
			insert into Sys_ParamItems(ParamId,ParamItemName,ParamItemValue,ParentCode,status,ShowOrder,Remark,CreateDate)
			values (#ParamId#,#ParamItemName#,#ParamItemValue#,#ParentCode#,#status#,#ShowOrder#,#Remark#,${dbDate})
		</insert>
		<update id="Update" parameterClass="ParamItemModel">
      Update Sys_ParamItems Set
      ParamId=#ParamId#,
      ParamItemName=#ParamItemName#,
      ParamItemValue=#ParamItemValue#,
      ParentCode=#ParentCode#,
      status=#status#,
      ShowOrder=#ShowOrder#,
      Remark=#Remark#
      where ParamItemId = #ParamItemId#
    </update>
		<delete id="DeleteById" parameterClass="int">
			delete from Sys_ParamItems where ParamItemId = #value#
		</delete>
    <delete id="DeleteByParamId" parameterClass="int">
      delete from Sys_ParamItems where ParamId = #value#
    </delete>
    <delete id="DeleteStatusById" parameterClass="int">
      Update Sys_ParamItems Set
      Status=1 where ParamItemId = #value#
    </delete>
	</statements>
</sqlMap>