<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Sys_OperateLog">
  <alias>
    <typeAlias alias="OperateLogModel" type="Global.Common.Models.OperateLogModel,Global.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="OperateLogModel">
      <result property="LogId" column="LogId" />
      <result property="OperateType" column="OperateType" />
      <result property="Operator" column="Operator" />
      <result property="OperateDate" column="OperateDate" />
      <result property="OperateIP" column="OperateIP" />
      <result property="OperateContent" column="OperateContent" />
      <result property="TargetPK" column="TargetPK" />
      <result property="TargetType" column="TargetType" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      LogId
      ,OperateType
      ,Operator
      ,OperateDate
      ,OperateIP
      ,OperateContent
      ,TargetPK
      ,TargetType
    </sql>
    <select id="SelectAll">select <include refid="TableFields"/> from Sys_OperateLog</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
		where LogId = #value#
	</select>
	  <select id="GetByTargetPKAndType" resultMap="SelectAllResult" extends="SelectAll" parameterClass="OperateLogModel">
		  where TargetPK = #TargetPK# and TargetType = #TargetType#
	  </select>

	  <insert id="Insert" parameterClass="OperateLogModel">
      <selectKey property="LogId" type="post" resultClass="int">${selectKey}</selectKey>
      insert into Sys_OperateLog(OperateType,Operator,OperateDate,OperateIP,OperateContent,TargetPK,TargetType)
      values (#OperateType#,#Operator#,${dbdate},#OperateIP#,#OperateContent#,#TargetPK#,#TargetType#)
    </insert>
    <update id="Update" parameterClass="OperateLogModel">
      Update Sys_OperateLog Set
      OperateType=#OperateType#,
      Operator=#Operator#,
      OperateDate=#OperateDate#,
      OperateIP=#OperateIP#,
      OperateContent=#OperateContent#,
      TargetPK=#TargetPK#,
      TargetType=#TargetType#
      where LogId = #LogId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Sys_OperateLog where LogId = #value#
    </delete>
  </statements>
</sqlMap>