<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Sys_Params">
  <alias>
    <typeAlias alias="ParamModel" type="Global.Common.Models.ParamModel,Global.Common" />
  </alias>
  <cacheModels>
    <cacheModel id="allparam-cache" implementation="LRU">
      <flushInterval hours="12"/>
      <flushOnExecute  statement="Insert"/>
      <flushOnExecute  statement="Update"/>
      <flushOnExecute  statement="DeleteById"/>
      <flushOnExecute  statement="DeleteStatusById"/>
	  <property name="size" value="10000" />
	</cacheModel>
  </cacheModels>
  
  <resultMaps>
    <resultMap id="SelectAllResult" class="ParamModel">
      <result property="ParamId" column="ParamId" />
      <result property="ParamName" column="ParamName" />
      <result property="ParamCode" column="ParamCode" />
      <result property="itemsList" column="ParamId" select="Sys_ParamItems.GetByParamId" lazyLoad="true"/>
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
      Sys_Params.ParamId
      ,Sys_Params.ParamName
      ,Sys_Params.ParamCode
    </sql>
    <select id="SelectAll">
      select <include refid="TableFields"/> from Sys_Params 
    </select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll" cacheModel="allparam-cache">where Status=0</select>
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
		where Status=0 and ParamId = #value#
	</select>
    <select id="GetByCode" resultMap="SelectAllResult" extends="SelectAll" parameterClass="string">
		where Status=0 and ParamCode = #value#
	</select>
    <select id="IsExistParamCode" resultClass="int"  parameterClass="ParamModel">
      Select count(ParamId) from Sys_Params where ParamId != #ParamId# and ParamCode = #ParamCode#
    </select>
    <insert id="Insert" parameterClass="ParamModel">
      <selectKey property="ParamId" type="post" resultClass="int">${selectKey}</selectKey>
		insert into Sys_Params(ParamName,ParamCode,CreateDate)
		values (#ParamName#,#ParamCode#,${dbDate})
	</insert>
    <update id="Update" parameterClass="ParamModel">
      Update Sys_Params Set
      ParamName=#ParamName#,
      ParamCode=#ParamCode#
      where ParamId = #ParamId#
    </update>
    <delete id="DeleteById" parameterClass="int">
      delete from Sys_Params where ParamId = #value#
    </delete>

    <delete id="DeleteStatusById" parameterClass="int">
      Update Sys_Params Set
      Status=1
      where ParamId = #ParamId#
    </delete>
  </statements>
</sqlMap>