<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Sys_Attachment">
  <alias>
    <typeAlias alias="AttachmentModel" type="Global.Common.Models.AttachmentModel,Global.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="AttachmentModel">
      <result property="FileId" column="FileId" />
      <result property="FileVirtualPath" column="FileVirtualPath" />
      <result property="FileSize" column="FileSize" />
		  <result property="FileType" column="FileType" />
      <result property="FileName" column="FileName" />
      <result property="ServerIP" column="ServerIP" />
      <result property="FileServerType" column="FileServerType" />
      <result property="FileAccessPrefix" column="FileAccessPrefix" />
      <result property="UserId" column="UserId" />
      <result property="UserName" column="UserName" />
      <result property="CreateDate" column="CreateDate" />
      <result property="Remark" column="Remark" />
    </resultMap>
  </resultMaps>
  <statements>
    <sql id="TableFields">
		Sys_Attachment.FileId,FileVirtualPath,FileSize,FileType,FileName,ServerIP,FileServerType,FileAccessPrefix,UserId,UserName,CreateDate,Remark
	</sql>
    <select id="SelectAll">select <include refid="TableFields"></include> from Sys_Attachment</select>
    <select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
	  
	<select id="GetByFileType" resultMap="SelectAllResult" extends="SelectAll">
		where FileType=#value#
	</select>
  <!--获取文件-->
    <select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where FileId = #value#
    </select>
    <!--获取文件-->
    <select id="GetByIdAaary" resultMap="SelectAllResult" extends="SelectAll" >
      where FileId in
      <iterate open="(" close=")" conjunction="," >
        #[]#
      </iterate>
    </select>

    <!--<select id="GetAttachmentModelByID" resultClass="AttachmentModel" parameterClass="int">
      select top 1 FileId,FileVirtualPath,FileSize,FileName,ServerIP,FileServerType,FileAccessPrefix,UserId,UserName,CreateDate,Remark
      from Sys_Attachment where FileId = #value#
    </select>-->
    <!--新增文件-->
    <insert id="Insert" parameterClass="AttachmentModel">
      <selectKey property="FileId" type="post" resultClass="int">${selectKey}</selectKey>
		insert into Sys_Attachment(FileVirtualPath,FileSize,FileType,FileName,ServerIP,FileServerType,FileAccessPrefix,UserId,UserName,CreateDate,Remark)
		values (#FileVirtualPath#,#FileSize#,#FileType#,#FileName#,#ServerIP#,#FileServerType#,#FileAccessPrefix#,#UserId#,#UserName#,${dbDate},#Remark#)
	</insert>
    <update id="Update" parameterClass="AttachmentModel">
		Update Sys_Attachment Set
		FileVirtualPath=#FileVirtualPath#,
		FileSize=#FileSize#,
		FileName=#FileName#,
		ServerIP=#ServerIP#,
		FileServerType=#FileServerType#,
		FileAccessPrefix=#FileAccessPrefix#,
		UserId=#UserId#,
		UserName=#UserName#
		where FileId = #FileId#
	</update>
    <delete id="DeleteById" parameterClass="int">
      delete from Sys_Attachment where FileId = #value#
    </delete>
  </statements>
</sqlMap>