<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Sys_Menu">
	<alias>
		<typeAlias alias="MenuModel" type="Global.Common.Models.MenuModel,Global.Common" />
	</alias>
	<resultMaps>
		<resultMap id="SelectAllResult" class="MenuModel">
			<result property="MenuId" column="MenuId" />
			<result property="MenuName" column="MenuName" />
			<result property="ParentMenuId" column="ParentMenuId" />
			<result property="LinkUrl" column="LinkUrl" />
			<result property="ShowOrder" column="ShowOrder" />
			<result property="Remark" column="Remark" />
      <result property="IsEnabled" column="IsEnabled" />
		</resultMap>
	</resultMaps>
	<statements>
		<sql id="TableFields">
      Sys_Menu.MenuId
      ,Sys_Menu.MenuName
      ,Sys_Menu.ParentMenuId
      ,Sys_Menu.LinkUrl
      ,Sys_Menu.ShowOrder
      ,Sys_Menu.Remark
      ,Sys_Menu.IsEnabled
    </sql>
		<select id="SelectAll">select <include refid="TableFields"/> from Sys_Menu</select>
		<select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
		<select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
			where MenuId = #value#
		</select>
		<select id="GetByRoleId" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      Inner Join Sys_RoleOwnMenus rm on rm.MenuId = Sys_Menu.MenuId
      where rm.RoleId = #value#
      order by Sys_Menu.ShowOrder asc
    </select>

    <select id="GetByParentMenuID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
      where ParentMenuId = #value#
    </select>
    
		<insert id="Insert" parameterClass="MenuModel">
			<selectKey property="MenuId" type="post" resultClass="int">${selectKey}</selectKey>
			insert into Sys_Menu(MenuName,ParentMenuId,LinkUrl,ShowOrder,Remark,CreateDate)
			values (#MenuName#,#ParentMenuId#,#LinkUrl#,#ShowOrder#,#Remark#,${dbDate})
		</insert>
		<update id="Update" parameterClass="MenuModel">
      Update Sys_Menu Set
      MenuName=#MenuName#,
      ParentMenuId=#ParentMenuId#,
      LinkUrl=#LinkUrl#,
      ShowOrder=#ShowOrder#,
      Remark=#Remark#,
      IsEnabled=#IsEnabled#
      where MenuId = #MenuId#
    </update>
		<delete id="DeleteById" parameterClass="int">
			delete from Sys_Menu where MenuId = #value#
		</delete>
	</statements>
</sqlMap>