<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="Sys_Role">
	<alias>
		<typeAlias alias="RoleModel" type="Global.Common.Models.RoleModel,Global.Common" />
	</alias>
	<resultMaps>
		<resultMap id="SelectAllResult" class="RoleModel">
			<result property="RoleId" column="RoleId" />
			<result property="RoleName" column="RoleName" />
			<result property="Remark" column="Remark" />
			<result property="IsEnabled" column="IsEnabled" />
			<result property="permissionList" column="RoleId" select="Sys_Permission.GetByRoleID" lazyLoad="true"/>
			<result property="menuList" column="RoleId" select="Sys_Menu.GetByRoleId" lazyLoad="true"/>
		</resultMap>
	</resultMaps>
	<statements>
		<sql id="TableFields">
			Sys_Role.RoleId
			,Sys_Role.RoleName
			,Sys_Role.Remark
			,Sys_Role.IsEnabled
		</sql>
		<select id="SelectAll">select <include refid="TableFields"/> from Sys_Role</select>
		<select id="GetAll" resultMap="SelectAllResult" extends="SelectAll"></select>
		<select id="GetAllEnabled" resultMap="SelectAllResult" extends="SelectAll">
			where IsEnabled = 1
		</select>
		<select id="GetByID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
			where RoleId = #value#
		</select>
		<select id="GetByUserID" resultMap="SelectAllResult" extends="SelectAll" parameterClass="int">
			Inner Join Sys_UserRole ur on ur.RoleId = Sys_Role.RoleId
			where Sys_Role.IsEnabled=1 and ur.UserId = #value#
		</select>

		<insert id="Insert" parameterClass="RoleModel">
			<selectKey property="RoleId" type="post" resultClass="int">${selectKey}</selectKey>
			insert into Sys_Role(RoleName,Remark,IsEnabled,CreateDate)
			values (#RoleName#,#Remark#,#IsEnabled#,${dbDate})
		</insert>

		<insert id="InsertPermission" parameterClass="Hashtable">
			insert into Sys_RoleOwnPermission(RoleId,PermissionId,CreateDate)
			values (#RoleId#,#PermissionId#,${dbDate})
		</insert>

		<insert id="InsertMenu" parameterClass="Hashtable">
			insert into Sys_RoleOwnMenus(RoleId,MenuId,CreateDate)
			values (#RoleId#,#MenuId#,${dbDate})
		</insert>
		
		<update id="Update" parameterClass="RoleModel">
			Update Sys_Role Set
			RoleName=#RoleName#,
			Remark=#Remark#,
			IsEnabled=#IsEnabled#
			where RoleId = #RoleId#
		</update>

    <update id="SetRoleState" parameterClass="RoleModel">
      Update Sys_Role Set
      IsEnabled=#IsEnabled#
      where RoleId = #RoleId#
    </update>

    <delete id="DeleteById" parameterClass="int">
      delete from Sys_Role where RoleId = #value#
    </delete>
    <delete id="DeleteByUserId" parameterClass="int">
      delete from Sys_UserRole where UserId = #value#
    </delete>
    <delete id="DeleteByRoleId" parameterClass="int">
      delete from Sys_UserRole where RoleId = #value#
    </delete>
    <delete id="DeletePermissionByRoleId" parameterClass="int">
      delete from Sys_RoleOwnPermission where RoleId = #value#
    </delete>
    <delete id="DeletePermissionByPermissionId" parameterClass="int">
      delete from Sys_RoleOwnPermission where PermissionId = #value#
    </delete>
    <delete id="DeleteMenuByRoleId" parameterClass="int">
      delete from Sys_RoleOwnMenus where RoleId = #value#
    </delete>
    <delete id="DeleteMenuByMenuId" parameterClass="int">
      delete from Sys_RoleOwnMenus where MenuId = #value#
    </delete>
	</statements>
</sqlMap>