<?xml version="1.0"?>
<sqlMap xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" namespace="User_ManageDepart">
  <alias>
    <typeAlias alias="UserManageDepartModel" type="Global.Common.Models.UserManageDepartModel,Global.Common" />
  </alias>
  <resultMaps>
    <resultMap id="SelectAllResult" class="UserManageDepartModel">
      <result property="OrgId" column="OrgId" />
      <result property="UserId" column="UserId" />
      <!--<result property="JobNo" column="JobNo" />-->
      <result property="OrgCode" column="OrgCode" />
    </resultMap>
  </resultMaps>
  <statements>
    <!--获取所有管理的部门-->
    <select id="GetAll" resultMap="SelectAllResult">
      SELECT OrgId,UserId,OrgCode FROM User_ManageDepart
    </select>

    <!--获取主键最大-->
    <select id="GetMaxIdModel" resultMap="SelectAllResult">
      SELECT OrgId,UserId,OrgCode FROM User_ManageDepart where orgID=(select max(orgid) from User_ManageDepart)
    </select>
    
    <!--通过ID获取区域经理管理的部门信息-->
    <select id="GetByUserId" parameterClass="int" resultMap="SelectAllResult">
      SELECT OrgId,UserId,OrgCode FROM User_ManageDepart
      where UserId=#value#
    </select>

	  <!-- 管理的用户-->
	  <select id="GetManageUserByUserId" resultClass="Global.Common.Models.UserModel" parameterClass="Hashtable">
      select u.UserId,UserName,BelongDepart,DepartName,Duty,u.JobNo,Mobile,Email,EmployeeState,Sex from Sys_User u
      inner join User_ManageDepart m on u.BelongDepart=m.OrgCode
      where m.UserId=#UserId# and m.OrgCode like '$OrgCode$%' and EmployeeState = 0
    </select>
	  
    <insert id="Insert" parameterClass="UserManageDepartModel">
      insert into User_ManageDepart (UserId,OrgCode,CreateDate)
      values (#UserId#,#OrgCode#,${dbDate})
    </insert>
    
    <!--<update id="Update" parameterClass="UserManageDepartModel">
      Update User_ManageDepart Set
      JobNo=#JobNo#
      where AutoId = #AutoId#
    </update>-->

    <!--删除数据-->
    <delete id="DeleteByUserId" parameterClass="int">
      delete from User_ManageDepart where UserId=#value#
    </delete>

    <delete id="DeleteManageDepartByUserId" parameterClass="int">
      delete from User_ManageDepart where UserId = #value#
    </delete>

    <insert id="InsertManageDepart" parameterClass="Hashtable">
      insert into User_ManageDepart(OrgId,UserId,OrgCode)
      values (#OrgId#,#UserID#,#OrgCode#)
    </insert>
  </statements>
</sqlMap>