<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" >
  <description>Data Access</description>
  <!--多数据库支持相关-->
  <object id="grgtInstrumentDbMapper" type="ToolsLib.IBatisNet.BaseMapper, ToolsLib" lazy-init="true" >
    <constructor-arg name="mapPath" value="SqlMap_GRGTInstrument.config"/>
  </object>
  <object id="InstrumentDaoImpl" type="Instrument.DataAccess.InstrumentDaoImplForSQLite, Instrument.DataAccess" lazy-init="true"/>
  <object id="InstrumentCheckLogDaoImpl" type="Instrument.DataAccess.InstrumentCheckLogDaoImpl, Instrument.DataAccess" lazy-init="true"/>
  <object id="InstrumentRepairPlanDaoImpl" type="Instrument.DataAccess.InstrumentRepairPlanDaoImplForSQLite, Instrument.DataAccess" lazy-init="true"/>
  <object id="InstrumentUsingPlanDaoImpl" type="Instrument.DataAccess.InstrumentUsingPlanDaoImpl, Instrument.DataAccess" lazy-init="true"/>
  <object id="CraftDaoImpl" type="Instrument.DataAccess.CraftDaoImplForSQLite, Instrument.DataAccess" lazy-init="true"/>
  <object id="OrderDaoImpl" type="Instrument.DataAccess.OrderDaoImplForSQLite, Instrument.DataAccess" lazy-init="true"/>
  <object id="InstrumentCertificationDaoImpl" type="Instrument.DataAccess.InstrumentCertificationDaoImplForSQLite, Instrument.DataAccess" lazy-init="true"/>
  <object id="DocumentDaoImpl" type="Instrument.DataAccess.DocumentDaoImpl, Instrument.DataAccess" lazy-init="true"/>
  <object id="OrderSendInstrumentDaoImpl" type="Instrument.DataAccess.OrderSendInstrumentDaoImplForSQLite, Instrument.DataAccess" lazy-init="true"/>
  <object id="InstrumentWaitSendDaoImpl" type="Instrument.DataAccess.InstrumentWaitSendDaoImpl, Instrument.DataAccess" lazy-init="true"/>
  <object id="ContactDaoImpl" type="Instrument.DataAccess.ContactDaoImplForSQLite, Instrument.DataAccess" lazy-init="true"/>
  <object id="InstrumentFlowDaoImpl" type="Instrument.DataAccess.InstrumentFlowDaoImpl, Instrument.DataAccess" lazy-init="true"/>
  <object id="BusinessAttachmentDaoImpl" type="Instrument.DataAccess.BusinessAttachmentDaoImpl, Instrument.DataAccess" lazy-init="true"/>
  <object id="InstrumentPeriodcheckDaoImpl" type="Instrument.DataAccess.InstrumentPeriodcheckDaoImpl, Instrument.DataAccess" lazy-init="true"/>
  <object id="AssetCheckPlanDaoImpl" type="Instrument.DataAccess.AssetCheckPlanDaoImplForSQLite, Instrument.DataAccess" lazy-init="true"/>
  <object id="AssetCheckPlanDetailDaoImpl" type="Instrument.DataAccess.AssetCheckPlanDetailDaoImpl, Instrument.DataAccess" lazy-init="true"/>
  <object id="AssetCheckOperatorDaoImpl" type="Instrument.DataAccess.AssetCheckOperatorDaoImpl, Instrument.DataAccess" lazy-init="true"/>
  <object id="InstrumentInnercheckDaoImpl" type="Instrument.DataAccess.InstrumentInnercheckDaoImpl, Instrument.DataAccess" lazy-init="true"/>

  <object id="grgtInstrumentProvider" type="Instrument.DataAccess.DBProvider, Instrument.DataAccess">
    <!--数据库连接-->
    <property name="dbMapper" ref="grgtInstrumentDbMapper"/>
    
    <property name="InstrumentDAO" ref="InstrumentDaoImpl"/>
    <property name="InstrumentRepairPlanDAO" ref="InstrumentRepairPlanDaoImpl"/>
    <property name="InstrumentCheckLogDAO" ref="InstrumentCheckLogDaoImpl"/>
    <property name="InstrumentUsingPlanDAO" ref="InstrumentUsingPlanDaoImpl"/>
    <property name="CraftDAO" ref="CraftDaoImpl"/>
    <property name="OrderDAO" ref="OrderDaoImpl"/>
    <property name="InstrumentCertificationDAO" ref="InstrumentCertificationDaoImpl"/>
    <property name="DocumentDAO" ref="DocumentDaoImpl"/>
    <property name="OrderSendInstrumentDAO" ref="OrderSendInstrumentDaoImpl"/>
    <property name="InstrumentWaitSendDAO" ref="InstrumentWaitSendDaoImpl"/>
    <property name="ContactDao" ref="ContactDaoImpl"/>
    <property name="InstrumentFlowDao" ref="InstrumentFlowDaoImpl"/>
    <property name="BusinessAttachmentDao" ref="BusinessAttachmentDaoImpl"/>
    <property name="InstrumentPeriodcheckDAO" ref="InstrumentPeriodcheckDaoImpl"/>
    <property name="AssetCheckPlanDAO" ref="AssetCheckPlanDaoImpl"/>
    <property name="AssetCheckPlanDetailDAO" ref="AssetCheckPlanDetailDaoImpl"/>
    <property name="AssetCheckOperatorDAO" ref="AssetCheckOperatorDaoImpl"/>
    <property name="InstrumentInnercheckDAO" ref="InstrumentInnercheckDaoImpl"/>

  </object>


</objects>
