<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!-- 配置要生成的数据库安装版本-->
    <add key="DataBaseType" value="SQL"/>
    <!--<add key="DataBaseType" value="SQLite"/>-->
    <!--<add key="DataBaseType" value="MySql"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>