<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" >
  <description>Service Objects</description>

  <object id="InstrumentServiceImpl" type="Instrument.Business.InstrumentServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="InstrumentCheckLogServiceImpl" type="Instrument.Business.InstrumentCheckLogServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="InstrumentRepairPlanServiceImpl" type="Instrument.Business.InstrumentRepairPlanServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="InstrumentUsingPlanServiceImpl" type="Instrument.Business.InstrumentUsingPlanServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="CraftServiceImpl" type="Instrument.Business.CraftServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="OrderServiceImpl" type="Instrument.Business.OrderServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="InstrumentCertificationServiceImpl" type="Instrument.Business.InstrumentCertificationServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="DocumentServiceImpl" type="Instrument.Business.DocumentServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="InstrumentWaitSendServiceImpl" type="Instrument.Business.InstrumentWaitSendServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="OrderSendInstrumentServiceImpl" type="Instrument.Business.OrderSendInstrumentServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="ContactServiceImpl" type="Instrument.Business.ContactServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="InstrumentFlowServiceImpl" type="Instrument.Business.InstrumentFlowServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="BusinessAttachmentServiceImpl" type="Instrument.Business.BusinessAttachmentServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="InstrumentPeriodcheckServiceImpl" type="Instrument.Business.InstrumentPeriodcheckServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="AssetCheckPlanServiceImpl" type="Instrument.Business.AssetCheckPlanServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="AssetCheckPlanDetailServiceImpl" type="Instrument.Business.AssetCheckPlanDetailServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="AssetCheckOperatorServiceImpl" type="Instrument.Business.AssetCheckOperatorServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="InstrumentInnerCheckServiceImpl" type="Instrument.Business.InstrumentInnerCheckServiceImpl, Instrument.Business" lazy-init="true"/>
  <object id="KnowledgesServiceImpl" type="Instrument.Business.KnowledgesServiceImpl, Instrument.Business" lazy-init="true"/>
  
  <object id="grgtInstrumentServiceProvider" type="Instrument.Business.ServiceProvider, Instrument.Business">
    <property name="InstrumentService" ref="InstrumentServiceImpl"/>
    <property name="InstrumentCheckLogService" ref="InstrumentCheckLogServiceImpl"/>
    <property name="InstrumentRepairPlanService" ref="InstrumentRepairPlanServiceImpl"/>
    <property name="InstrumentUsingPlanService" ref="InstrumentUsingPlanServiceImpl"/>
    <property name="CraftService" ref="CraftServiceImpl"/>
    <property name="OrderService" ref="OrderServiceImpl"/>
    <property name="InstrumentCertificationService" ref="InstrumentCertificationServiceImpl"/>
    <property name="DocumentService" ref="DocumentServiceImpl"/>
    <property name="OrderSendInstrumentService" ref="OrderSendInstrumentServiceImpl"/>
    <property name="InstrumentWaitSendService" ref="InstrumentWaitSendServiceImpl"/>
    <property name="ContactService" ref="ContactServiceImpl"/>
    <property name="InstrumentFlowService" ref="InstrumentFlowServiceImpl"/>
    <property name="BusinessAttachmentService" ref="BusinessAttachmentServiceImpl"/>
    <property name="InstrumentPeriodcheckService" ref="InstrumentPeriodcheckServiceImpl"/>
    <property name="AssetCheckPlanService" ref="AssetCheckPlanServiceImpl"/>
    <property name="AssetCheckOperatorService" ref="AssetCheckOperatorServiceImpl"/>
    <property name="AssetCheckPlanDetailService" ref="AssetCheckPlanDetailServiceImpl"/>
    <property name="InstrumentInnerCheckService" ref="InstrumentInnerCheckServiceImpl"/>
    <property name="KnowledgesService" ref="KnowledgesServiceImpl"/>
    
  </object>

  <!--<object id="GRGT.TestSiteServiceImpl" type="Instrument.Business.TestSiteServiceImpl, Instrument.Business" lazy-init="true"/>

  <object id="GRGT.serviceProvider" type="Instrument.Business.ServiceProvider, Instrument.Business">
    <property name="TestSiteService" ref="GRGT.TestSiteServiceImpl"/>
  </object>-->
</objects>
