<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--更新脚本路径-->
    <add key="ScriptsPath" value="\Scripts" />
    <!--更新文件路径-->
    <add key="UpdFilesPath" value="\UpdFiles" />
    
    <!--Web文件备份-->
    <add key="WebFilesBackup" value="true" />
    <!--不需备份的文件类型-->
    <add key="ExceptBKFileType" value=".mdf|.ldf" />
    <!--文件回滚-->
    <add key="RollBackWebFiles" value="true" />

    <!--脚本是否需要回滚-->
    <add key="RollBackScript" value="true" />
    <!--脚本回滚路径-->
    <add key="RollBackScriptPath" value="\RollBackScripts" />

    <!--更新版本号-->
    <add key="UpgradeVersion" value="V1.0.2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>