<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" >
  <description>Service Objects</description>
  <!--HR-->
  <object id="UserServiceImpl" type="Global.Business.UserServiceImpl, Global.Business" lazy-init="true"/>
  <object id="ParamServiceImpl" type="Global.Business.ParamServiceImpl, Global.Business" lazy-init="true"/>
  <object id="ParamItemServiceImpl" type="Global.Business.ParamItemServiceImpl, Global.Business" lazy-init="true"/>
  <object id="RoleServiceImpl" type="Global.Business.RoleServiceImpl, Global.Business" lazy-init="true"/>
	<object id="PermissionServiceImpl" type="Global.Business.PermissionServiceImpl, Global.Business" lazy-init="true"/>
	<object id="MenuServiceImpl" type="Global.Business.MenuServiceImpl, Global.Business" lazy-init="true"/>
	<object id="AttachmentServiceImpl" type="Global.Business.AttachmentServiceImpl, Global.Business" lazy-init="true"/>
	<object id="OrgServiceImpl" type="Global.Business.OrgServiceImpl, Global.Business" lazy-init="true"/>
<object id="DutyServiceImpl" type="Global.Business.DutyServiceImpl, Global.Business" lazy-init="true"/>
 
  <object id="UserManageDepartServiceImpl" type="Global.Business.UserManageDepartServiceImpl, Global.Business" lazy-init="true"/>
 
  <object id="EmployeeServiceImpl" type="Global.Business.EmployeeServiceImpl, Global.Business" lazy-init="true"/>
  <!--记录日志-->
  <object id="Sys_BusinessLogServiceImpl" type="Global.Business.Sys_BusinessLogServiceImpl, Global.Business" lazy-init="true"/>
  <!--操作日志-->
  <object id="OperateLogServiceImpl" type="Global.Business.OperateLogServiceImpl, Global.Business" lazy-init="true"/>


	<object id="globalServiceProvider" type="Global.Business.ServiceProvider, Global.Business">
    <property name="UserService" ref="UserServiceImpl"/>
    <property name="ParamService" ref="ParamServiceImpl"/>
    <property name="ParamItemService" ref="ParamItemServiceImpl"/>
    <property name="RoleService" ref="RoleServiceImpl"/>
	  <property name="PermissionService" ref="PermissionServiceImpl"/>
	  <property name="MenuService" ref="MenuServiceImpl"/>
	  <property name="AttachmentService" ref="AttachmentServiceImpl"/>
	  <property name="OrgService" ref="OrgServiceImpl"/>
	 
    <property name="UserManageDepartService" ref="UserManageDepartServiceImpl"/>
    <property name="DutyService" ref="DutyServiceImpl"/>
   
    <property name="EmployeeService" ref="EmployeeServiceImpl"/>
    <!--记录日志-->
    <property name="Sys_BusinessLogService" ref="Sys_BusinessLogServiceImpl"/>
    <!--操作日志-->
    <property name="OperateLogService" ref="OperateLogServiceImpl"/>
  </object>

</objects>
